.edd-payment-icons {
  margin-top: 6em;
  position: absolute;
  top: 135px;
  right: 0;

  .payment-icon {
    max-width: 50px;
    margin: 0 5px;
  }
}

#edd_payment_mode_select {
  margin-top: 3em;
}

.edd_cart_item_name .edd_cart_item_image {
  position: absolute;
}

.edd_cart_item_image + .edd_checkout_cart_item_title {
  padding-left: 40px;
}

#edd_cc_address .edd-stripe-update-billing-address-current {
  border: 1px solid #415aff;
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.edd-stripe-new-card {
  #edd-card-name-wrap {
    margin-top: 1em;
  }
}

#edd_payment_mode_select,
#edd_purchase_form_wrap {
  > fieldset {
    margin-top: 2.1em;
  }

  legend {
    font-size: 1.5em;
    text-align: left;

    &:after {
      content: '';
      margin: 0.49444em auto 10px auto;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #dbdbdb;
    }
  }

  .edd_form fieldset p {
    margin-bottom: 30px;
  }

  input[type='checkbox'] {
    + label {
      &:hover {
        cursor: pointer;
      }
    }
  }

  #edd-purchase-button {
    @include device(600, 'max') {
      padding: 0.6em 0.8em;
    }
  }
}

.card-data {
  span {
    font-weight: 500;
  }
}

#edd_secure_site_wrapper {
  color: #29b871;
  font-weight: 400;

  .padlock {
    position: relative;
    top: 7px;
    left: -10px;
  }
}

.edd-stripe-card-selector .edd-stripe-card-radio-item .edd-stripe-existing-card {
  margin-top: 0;
}

.logged-in.edd-checkout #edd_secure_site_wrapper {
  margin-bottom: 0;
  top: 11px;
  right: 20px;

  .padlock {
    top: 8px;
    left: -6px;
  }
}

.edd-card-selector-radio .edd-stripe-card-radio-item {
  padding: 15px 20px;
  margin-top: 10px;
}

.edd-stripe-card-selector + .edd-stripe-new-card {
  margin-top: 40px;
}

#edd_cc_fields .edd-stripe-new-card {
  margin-top: 0;
}

.edd-card-selector-radio .edd-stripe-card-radio-item.selected {
  border: 1px solid #415aff;
}

#edd-stripe-card-element {
  margin-top: 10px;
}

.edd-legend-support {
  text-align: left;
  font-size: 90%;
  margin-bottom: 3em;
}

#edd-payment-mode-wrap {
  margin-top: 0;
  justify-content: flex-start;

  label:hover {
    cursor: pointer;
  }
}

.edd_cart_discount .edd_discount {
  position: relative;
  margin-bottom: 1em;
}

.checkout .page-content .wps-checkout-logged-in-as:first-of-type {
  font-size: 18px;
  margin: -1em 0 3em 0;
}

.edd_discount_remove {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  margin: 0;

  &:before,
  &:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.edd-checkout {
  .paypal-checkout-sandbox,
  .paypal-checkout,
  iframe {
    margin-top: 0;
    padding: 0;
    border: none;
  }

  #edd_checkout_cart_form {
    max-width: 700px;
    margin: 0 auto;
    border: none;

    @include device(800, 'max') {
      max-width: 95%;
    }
  }

  .footer-social-links {
    display: none;
  }

  @media (max-width: 1300px) {
    .nav-primary {
      display: flex;
      position: relative;
      top: 5px;
      right: -8px;
      padding-left: 10px;
    }
    .header-content .icon-mobile-open {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #edd_secure_site_wrapper {
      position: static;
    }
    .edd-payment-icons {
      position: relative;
      margin: 0;
      top: 75px;
      left: 0;
      right: auto;
      display: flex;

      .payment-icon {
        max-width: 40px;
      }
    }

    #edd-payment-mode-wrap .edd-gateway-option {
      width: 50%;
    }
  }

  @media (max-width: 500px) {
    .header-content {
      justify-content: center;
    }

    .wrap.l-contain-narrow {
      padding-top: 0;
    }

    .header {
      padding-bottom: 0;
    }

    #edd_payment_mode_select,
    #edd_purchase_form_wrap {
      legend {
        font-size: 1.2em;
      }
    }
  }
}
