.component-details {
  background-image: linear-gradient(to bottom, #14385e 5%, color(water) 100%);
  width: 100%;
  z-index: 9999;
  padding: $space-xxl*2 $space-m $space-xxl*3;
  position: relative;

  &:after {
    content: '';
    width: 160px;
    height: 60px;
    bottom: 20px;
    left: calc(50% - 80px);
    position: absolute;
    background: url('imgs/wave-shape.svg');
    background-size: contain;
    background-position: 50% 50%;
    opacity: $opacity-hard;

    @include device(500, 'max') {
      bottom: 0;
    }

  }

  h1:nth-of-type(2) {
    margin-top: $space-l;
  }

}

.details-content {
  color: color(white);
}
