.component.component-faq {
	margin-bottom: $space-xxxl;
	background: transparent;
}

.faqs {
	margin-left: 0;
	max-width: 780px;
	margin: 0 auto;

	> div {
		margin-top: 0;
	}
}

.single-faqs {
	.faqs {
		margin: 12em auto 6em auto;

		.entry-title {
			font-size: 36px;
			font-weight: 700;
			color: #0f0728;

			a {
				color: #0f0728;
			}
		}
	}
}

.faq-question {
	padding: $space-l 0;
	font-size: 1.1em;
	border-bottom: 1px solid color(medium-grey);

	> div {
		width: 100%;
		position: relative;
		font-size: 18px;
		font-family: $font-secondary;
		padding: 20px 0;

		@media (max-width: 600px) {
			font-size: 15px;
		}
	}

	.fa-plus-square,
	.fa-minus-square {
		font-size: $font-l;
		position: absolute;
		top: 3px;
		right: 0;

		path {
			fill: #415aff;
		}
	}

	&:hover {
		cursor: pointer;
		color: #415aff;
	}

	@include device(800, 'max') {
		font-size: 16px;
	}

	@include device(700, 'max') {
		font-size: $font-m;
		position: relative;
		padding-right: 4em;
		padding: 1em 2em 1em 0;

		.fa-plus-square,
		.fa-minus-square {
			position: absolute;
			right: -1.7em;
			top: calc(50% - 10px);
		}
	}

	@include device(500, 'max') {
		font-size: 14px;
	}
}

.faq-answer {
	margin-left: 0;
	margin-top: 0;
	padding-top: $space-l;
	display: none;
	font-size: 16px;
	opacity: 0;

	@include device(600, 'max') {
		font-size: 14px;
	}

	ol {
		margin-left: $space-l;
	}

	&.is-open {
		display: block;
		margin-bottom: $space-xxl;
		background: color(off-white);
		padding: 30px 40px 20px 40px;
		opacity: 1;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;

		@include device(700, 'max') {
			padding: 20px;
			word-break: break-word;
		}
	}
}

.faqs-group {
	margin-bottom: $space-xl;
}

.faqs-heading {
	font-size: 1.5em;

	@media (max-width: 600px) {
		font-size: 19px;
	}

	&:before {
		display: block;
		content: ' ';
		margin-top: -30px;
		height: 30px;
		visibility: hidden;
		pointer-events: none;
	}
}

.component-faq-secondary {
	padding: 0;
	background: none;
	border-radius: 0;

	img {
		width: 400px;
	}

	.l-row {
		align-items: flex-start;
	}

	.faqs-wrap,
	.faqs {
		flex: 1;
	}

	.btn {
		margin-top: 2em;
	}

	.faqs-wrap {
		p {
			max-width: 700px;
		}
		.faqs {
			padding-left: 0;
		}
	}

	+ .component-contact {
		margin-top: 6em;
	}

	+ .component-affiliate {
		margin-top: 4em;

		@media (max-width: 700px) {
			margin-top: 0em;
		}
	}
}

.component-contact + .component-faq-secondary {
	margin: 5em auto;
}

.page .component-contact .content-inner .fa-long-arrow-alt-right {
	display: none;
}

@media (max-width: 900px) {
	.component-contact .content-inner svg {
		margin-top: 40px !important;
		margin-bottom: 15px !important;
	}
}

@media (max-width: 700px) {
	.component-contact .content-inner h2 {
		font-size: 35px !important;
	}

	.component-contact .intro {
		font-size: 17px !important;
	}

	.component-contact .content-inner svg {
		max-width: 144px !important;
	}

	.component-contact .l-col-6.col-two {
		padding-top: 20px !important;
	}
}

.faqs-wrap {
	h2 {
		text-align: center;
		font-size: 36px;
		@include device(1500, 'max') {
			font-size: 32px;
		}

		@include device(500, 'max') {
			font-size: 28px;
		}
	}
}

.component-marquee + .component-faq-secondary {
	padding-top: 16em;
}

.component-purchase + .component-faq-secondary {
	margin-top: 4em;
}
