.component.component-faq {
	background: white;
	border: 1px solid #d3d3d3;
	border-radius: 20px;

	.stage {
		position: absolute;
		height: 100%;
		left: 0;
		top: 185px;
		z-index: -1;
	}
}

.faqs {
	margin-left: 0;
	max-width: 100%;
	margin: 0 auto;

	> div {
		margin-top: 0;

		&:last-child {
			dt {
				border-bottom: none;
			}
		}
	}
}

.single-faqs {
	.faqs {
		margin: 12em auto 6em auto;

		.entry-title {
			font-size: 36px;
			font-weight: 700;
			color: #0f0728;

			a {
				color: #0f0728;
			}
		}
	}
}

.faq-question {
	padding: 0;
	font-size: 1.1em;
	border-bottom: 1px solid color(medium-grey);

	> div {
		width: 100%;
		position: relative;
		font-size: 19px;
		font-family: $font-secondary;
		padding: 20px 0;

		@media (max-width: 700px) {
			font-size: 15px;
			padding: 5px 0;
		}
	}

	.fa-plus-square,
	.fa-minus-square {
		position: absolute;
		top: 25px;
		font-size: 24px;
		right: 0;

		@include device(700, 'max') {
			font-size: 18px;
		}

		path {
			fill: #415aff;
		}
	}

	&:hover {
		cursor: pointer;
		color: #415aff;
	}

	@include device(800, 'max') {
		font-size: 16px;
	}

	@include device(700, 'max') {
		font-size: $font-m;
		position: relative;
		padding-right: 4em;
		padding: 1em 2em 1em 0;

		.fa-plus-square,
		.fa-minus-square {
			position: absolute;
			right: -1.7em;
			top: calc(50% - 10px);
		}
	}

	@include device(500, 'max') {
		font-size: 14px;
	}
}

.faq-answer {
	margin-left: 0;
	margin-top: 0;
	padding-top: 40px;
	display: none;
	font-size: 16px;
	opacity: 0;

	@include device(600, 'max') {
		font-size: 14px;
	}

	ol {
		margin-left: 40px;
	}

	&.is-open {
		display: block;
		background: #f9f9f9;
		opacity: 1;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		margin-bottom: 25px;
		padding: 25px 30px 15px 30px;

		@include device(700, 'max') {
			padding: 20px;
			word-break: break-word;
		}
	}
}

.faqs-group {
	margin-bottom: $space-xl;
}

.faqs-heading {
	font-size: 1.5em;

	@media (max-width: 600px) {
		font-size: 19px;
	}

	&:before {
		display: block;
		content: ' ';
		margin-top: -30px;
		height: 30px;
		visibility: hidden;
		pointer-events: none;
	}
}

.component-faq .faqs-group .faqs-heading {
	margin-top: 50px;
	margin-bottom: 10px;
}

.component-faq-secondary {
	background: white;
	border-radius: 30px;
	padding: 20px 50px 40px;
	box-shadow: 0 0 21px -13px rgb(0 0 0 / 42%);
	max-width: 860px;
	margin-bottom: 60px;
	border: 1px solid #dfdfdf;

	@media (max-width: 900px) {
		max-width: 92vw;
		padding: 20px 30px 40px;
	}

	img {
		width: 400px;
	}

	.l-row {
		align-items: flex-start;
	}

	.faqs-wrap,
	.faqs {
		flex: 1;
	}

	.btn {
		margin-top: 2em;
	}

	.faqs-wrap {
		p {
			max-width: 700px;
			font-size: 18px;
		}
		.faqs {
			padding-left: 0;
		}

		h2 {
			margin-top: 20px;
		}
	}

	+ .component-contact {
		margin-top: 0;
	}

	+ .component-affiliate {
		margin-top: 4em;

		@media (max-width: 700px) {
			margin-top: 0em;
		}
	}
}

.component-contact + .component-faq-secondary {
	margin: 5em auto;
}

.component-extensions + .component-contact {
	margin-top: 70px;
}

.component-contact .fa-long-arrow-alt-right {
	display: none;
}

@media (max-width: 900px) {
	.component-contact .content-inner svg {
		margin-top: 40px !important;
		margin-bottom: 15px !important;
	}
}

@media (max-width: 700px) {
	.component-contact .content-inner {
		top: 0;
	}
	.component-contact .content-inner h2 {
		font-size: 35px !important;
	}

	.component-contact .intro {
		font-size: 17px !important;
	}

	.component-contact .content-inner svg {
		max-width: 300px !important;
	}
}

.faqs-wrap {
	h2 {
		text-align: center;
		font-size: 36px;

		@include device(1500, 'max') {
			font-size: 24px;
		}
	}
}

.component-marquee + .component-faq-secondary {
	padding-top: 16em;
}

.component-purchase + .component-faq-secondary {
	margin-top: 14em;
}
