.component-mailinglist {
	position: relative;
	margin-bottom: 1em;
	color: color(base);
	border-radius: 20px;
	background-color: #dfeaff;
	padding: 0 3em;
	margin-top: 70px;

	@include device(1600, 'max') {
		#Layer_1,
		#Layer_2 {
			display: none;
		}
	}

	@include device(1000, 'max') {
		padding: 0 2em;
		max-width: 95vw;
	}

	.component-inner {
		padding: 2.4em 0 2.7em 0;
	}

	.form-messages {
		position: absolute;
		width: 100%;
		padding: 10px;
	}

	.form-label {
		color: color(base);
		font-weight: 100;
		z-index: 99;
		top: 1.2em;
		font-size: 1em;

		@include device(1000, 'max') {
			top: 18px;
		}
	}

	.is-focused {
		.form-label {
			color: color(base);
		}
	}

	label.error {
		margin-top: 0;
		position: relative;
		top: 16px;
	}

	.is-submitted {
		.form-success {
			margin-top: 1em;
			margin-top: 1em;
		}
	}

	.l-contain-narrow {
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}

	.form-control {
		display: flex;

		#mailinglist-email {
			flex: 1;
			border-radius: 10px 0 0 10px;
			font-size: 1em;
			margin: 0;

			@include device(1000, 'max') {
				border-radius: 10px;
			}
		}
		.btn-group {
			width: 230px;
			display: flex;

			@include device(1000, 'max') {
				max-width: 100%;
				width: 100%;
			}

			.btn {
				border-radius: 0 0.4em 0.4em 0;
				width: 100%;
				font-size: 1.2em;
				background-color: color(base);
				transform: scale(1) !important;
				margin: 0;

				@include device(1000, 'max') {
					border-radius: 0.4em;
					margin: 1em 0 0 0;
				}

				&:hover {
					transform: scale(1) !important;
				}
			}
		}
	}
}

.stylized-border {
	outline: 10px solid #fff;
	outline-offset: -2px;
	outline-style: solid;
}

.mailinglist-group-copy {
	color: color(white);
	background: #dfeaff;
	z-index: 1;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 0;

	h4 {
		font-size: 38px;
	}

	@include device(600, 'max') {
		z-index: 999;
	}
}

.mailinglist-heading {
	margin-bottom: 0;
	color: color(base);
	font-size: 2.2em;
	margin-top: 0;
	line-height: 1.3;

	@include device(1000, 'max') {
		font-size: 28px;
	}

	@include device(400, 'max') {
		font-size: $font-xl;
	}
}

.mailinglist-copy {
	font-size: 17px;
	text-align: left;
	color: color(base);
	margin-top: 20px;
	font-family: $font-secondary;

	@include device(1000, 'max') {
		font-size: 16px;
	}
}

.mailinglist-form-inline {
	max-width: 640px;
	text-align: left;
	margin: 4em auto;

	h4 {
		font-weight: 500;
		margin-bottom: 0;
		font-size: 42px;
		width: 100%;
		text-align: center;
		margin-top: 5px;
	}

	p {
		text-align: center;
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 30px;
		margin-top: 10px;
		color: #0f0728;
	}

	#email-error {
		margin-top: 0;
	}

	.spinner {
		right: calc(2% - 0px);
		top: 3px;
	}

	.form-messages {
		width: 100%;
		max-width: 360px;
		margin: 1em auto;
	}

	.mailinglist-group-copy {
		align-items: flex-start;
		margin-bottom: 11px;
		display: flex;
		flex-direction: row;
	}

	.mailinglist-copy {
		text-align: left;
		margin: 0;
		display: inline;
		margin-left: 10px;
		width: auto;
	}
	.form-control {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-start;
	}

	.mailinglist-email {
		width: 270px;
		padding: 9px 1.2em;
		margin-right: 10px;
		flex: 1;
		font-size: 17px;
	}

	.btn-group,
	.btn {
		margin: 0;
	}

	> .l-row {
		@include device(900, 'max') {
			flex-direction: column;
		}
	}
}

.footer {
	.mailinglist-form-inline {
		.mailinglist-group-copy,
		.form-control {
			justify-content: center;
		}

		.form-message {
			text-align: center;
		}
	}
}
