.component-purchase {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	border-radius: 0;
	padding: 0;
	position: relative;

	.stage {
		top: 485px;
		height: 500px;
	}

	h2 {
		font-size: 2.4em;
	}

	p {
		font-size: 18px;

		@include device(700, 'max') {
			font-size: 16px;
			max-width: 80%;
			margin: 0 auto;
		}
	}

	@include device(1200, 'max') {
		.screen-two {
			display: none;
		}

		.game7 {
			display: none;
		}
	}
}

.plans {
	list-style: none;
	margin: 1em 0 3em 0;
	padding: 0;
	display: flex;
	justify-content: center;

	@include device(900, 'max') {
		flex-direction: column;
	}

	@include device(600, 'max') {
		padding: 0;
		margin-bottom: 0;
	}
}

.plan {
	width: 31.3%;
	background: white;
	padding: 0;
	border-radius: 0.6em;
	border: 1px solid #ddd9d9;
	box-shadow: 0px 0px 21px -10px rgba(9, 35, 58, 0.25);
	margin: 0 10px;
	z-index: 1;

	@include device(1200, 'max') {
		width: 42%;
	}

	@include device(900, 'max') {
		width: 100%;
		padding: 25px 10px 40px;
		margin: 0 0 20px 0;
	}

	@include device(600, 'max') {
		width: 100%;
		padding-top: 16px;
	}
}

.plan-short-description {
	margin: 0 0 5px 0;

	p {
		font-size: 15px;
		margin: 0 auto;
		max-width: 90%;
		background: #f7f6f6;
		padding: 10px 20px;
		border-radius: 10px;
	}
}

.plan-names {
	display: flex;
	margin-bottom: 0px;
	justify-content: center;
	padding-bottom: 12px;
	padding-top: 25px;

	@include device(900, 'max') {
		padding-top: 0;
	}
}

.plan-name {
	font-size: 24px;
	font-family: $font-secondary;
	font-weight: bold;
	margin-top: -5px;

	@include device(600, 'max') {
		font-size: 20px;
	}
}

.plan-cta {
	margin: 0;

	small {
		display: block;
		margin-top: 10px;
		font-size: 14px;
		color: #636363;
	}
}

.plan-pricing {
	margin: 0;
	padding: 20px 0;
}

.plan-terms {
	text-align: center;
	margin-top: 0px;
	color: #636363;
	margin-left: -5px;
	font-size: 19px;
	font-weight: 100;
	font-family: $font-secondary;

	@include device(700, 'max') {
		font-size: 16px;
	}
}

.plan-description {
	font-size: 16px;
	color: #6b6b6b;
	margin-left: 15px;
	margin-top: 2px;
	font-family: $font-secondary;

	@include device(600, 'max') {
		margin-top: -1px;
		font-size: 15px;
	}
}

.price-toggle-label-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3em;

	max-width: 320px;
	margin: 3em auto 0em auto;

	&:hover {
		cursor: pointer;
	}

	.icon-toggle {
		height: 20px;
		font-size: 20px;
		margin: 0;

		circle {
			transition: all 0.2s ease;
			transform: translateX(-42%);
		}
	}

	.price-toggle-label {
		margin: 0 10px;
		font-size: 18px;
		font-family: $font-secondary;
	}
}

.plan-cta-link-year,
.plan-cta-link-month {
	width: auto;
	display: inline-block;
	padding: 0.6em 55px 0.6em 1.5em;
	font-size: 23px;
	margin-top: 0;

	@include device(600, 'max') {
		font-size: 20px;
	}
}

.plan-cta .plan-cta-link-month,
.plan-cta .plan-cta-notice-month,
.plan-price-month {
	display: none;
}

.component-purchase.is-monthly {
	.plan-cta-notice-month,
	.plan-price-month {
		display: block;
	}

	.plan-cta-link-month {
		display: inline-block;
	}

	.plan-cta-link-year,
	.plan-cta-notice-year,
	.plan-price-year {
		display: none;
	}

	circle {
		transform: translateX(0%);
	}
}

.plans .plan-pricing .plan-price-month,
.plans .plan-pricing .plan-price-year {
	font-size: 28px;
}

p.whats-included {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0;
	position: relative;
	padding-top: 20px;
	font-family: Metropolis, helvetica;

	&:before {
		content: '';
		position: absolute;
		left: calc(50% - 20px);
		position: absolute;
		height: 1px;
		top: -5px;
		width: 40px;
		background: #afafaf;
	}
}

.plan-features {
	position: relative;
	margin-top: 30px;
	padding-bottom: 40px;

	ul {
		text-align: left;
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
	}

	li {
		margin: 0;
		font-size: 16px;
		position: relative;
		padding-left: 50px;
		padding-right: 20px;
		padding-bottom: 5px;
		padding-top: 5px;
		font-family: $font-secondary;
		border: none;

		&:hover {
			background: #f7f6f6;
			cursor: help;
		}

		p {
			font-size: 15px;
			font-family: Metropolis, helvetica;
			margin: 0;
		}

		&:first-of-type {
			border: none;
			margin-top: 0;
		}

		&:before {
			position: absolute;
			top: 10px;
			left: 25px;
			content: '';
			background-image: url('../imgs/icon-check-regular.svg');
			width: 15px;
			height: 15px;
			background-size: contain;
		}
	}
}

.edd_download_purchase_form {
	width: 100%;
	margin-top: 4em;

	@include device(1400, 'max') {
		padding: 0 20px;
	}

	@include device(600, 'max') {
		padding: 0;
	}
}

.edd_purchase_submit_wrapper {
	text-align: center;
	margin-bottom: calc($space-xl * 3);
}

.purchase-options-note {
	display: block;
	margin-top: $space-m;
	text-align: center;
	font-style: normal;
}

.edd_price_options li[itemprop='offers'] {
	transition: transform 0.2s ease;

	.eddr-notice.variable-prices {
		display: none;
	}
}

.purchase-confirmation {
	.stage {
		left: 0;
		top: 485px;
		height: 500px;
	}

	#winding1 {
		height: auto;
		left: 75vw;
		position: absolute;
		top: 345px;
		width: 489px;
		z-index: 1;

		.st1 {
			fill: #c64f4b;
		}
		.st2 {
			fill: #030207;
		}
		.st3 {
			fill: #0083c8;
		}
		.st4 {
			fill: #fcce44;
		}
		.st5,
		.st6 {
			fill: none;
			stroke-width: 3;
		}
		.st5 {
			stroke: #111323;
			stroke-miterlimit: 10;
		}
		.st6 {
			stroke: #fff;
			stroke-linejoin: bevel;
		}
		.st7 {
			fill: #fff;
		}
		.st8 {
			fill: #170c2c;
		}
	}

	#edd_subscription_receipt {
		width: 100%;
		margin-bottom: 3em;

		thead,
		tbody {
			border-color: #cdcbcb;

			th,
			td {
				font-size: 14px;
			}
		}
	}
}

#edd_sl_renewal_form {
	margin-bottom: 1em;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}

.page.purchase {
	.page-header {
		margin-bottom: 0;
		line-height: 1;
		padding-bottom: 0;
	}
}
