/*

Responsive generator

*/
@mixin device($breakpoint, $size) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if ($size == 'max') {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

/*

Grid generator

*/
@mixin row($cols) {
  @if ($cols == 1) {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  } @else {
    flex: 0 0 calc((100% / #{$cols}));
    max-width: calc((100% / #{$cols}));
    width: calc((100% / #{$cols}));
  }
}

/*

Grow

*/
@mixin grow() {
  transition: all $speed-fast linear;

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 3px 35px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

/*

Shrink

*/
@mixin shrink() {
  transition: transform $speed-fast ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}

/*

Drop Shadow

*/
@mixin drop-shadow() {
  box-shadow: 0 2px 14px -3px rgba(0, 0, 0, 0.33);
}

/*

Dim

*/
@mixin dim($opacity) {
  opacity: $opacity;
}

/*

Dim

*/
@mixin validInput() {
  border-color: #29cf98;
  box-shadow: 0 0 2px 1px #29cf98;
}

/*

Dim

*/
@mixin invalidInput() {
  box-shadow: 0 0 2px 1px #f03131;
  border-color: #f03131;
}

/*

Shadow

*/
@mixin shadow() {
  //   box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

@mixin card() {
  border-radius: 10px;
  border: 1px solid #cbcbcb;
  // box-shadow: 0 2px 14px -3px #dadada;
  // border: 1px solid #dedede;
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@mixin bob() {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover,
  &:focus,
  &:active {
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: 0.3s, 1.5s;
    animation-delay: 0s, 0.3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
  }
}

@mixin popover() {
  background-color: white;
  padding: 1.3em;
  border-radius: 0.6em;
  margin: 0;
  box-shadow: 0 0 21px -13px rgba(0, 0, 0, 0.42);
  border: 1px solid #ddd;
}
