$space-xxxs: 5px;
$space-xxs: 5px;
$space-xs: 5px;
$space-s: 10px;
$space-m: 15px;
$space-l: 25px;
$space-xl: 35px;
$space-xxl: 45px;
$space-xxxl: 55px;

$margin: 30px;
$gutter: 20px;

$max-width: 1270px;
$container-width: 82vw;
$container-width-narrow: 810px;

$angle-width: 50px;
$angle-width-narrow: 90px;
