.component-affiliate {
   background: white;
   padding: 1em 0 8em 0;
   position: relative;

   @include device(700, 'max') {
      margin-bottom: 0;
      padding-bottom: 5em;
   }

   .description {
      text-align: left;
      margin-top: 10px;
      font-size: 1.1em;

      @include device(1000, 'max') {
         font-size: 16px;
      }
   }

   .heading {
      width: 100%;
      text-align: center;
      font-size: 2.5em;

      @include device(1000, 'max') {
         font-size: 2em;
      }
   }

   .btn {
      margin: 1em auto 0px;

      svg {
         margin-left: 10px;
      }

      @include device(600, 'max') {
         font-size: 20px;
         width: 100%;
         margin-left: 0;
         margin-right: 0;
         max-width: 100%;

         svg {
            display: none;
         }
      }
   }

   .link {
      display: block;
      text-align: center;
      width: 100%;
   }

   .logo-shopify {
      width: 200px;
      max-width: 100%;
      opacity: 1;
      margin: 0em auto 2em auto;
      width: 200px;
   }
}

.component-mailinglist + .component-affiliate {
   margin-top: 4em;
   padding-bottom: 4em;
}
