.btn,
.button,
a.button.edd-slg-social-unlink-profile,
.edd_download_file_link,
.edd_submit,
.edd-submit,
.search-submit,
.menu-item-back a,
#edd-purchase-button {
   padding: calc(#{$space-m} - 8px) calc(#{$space-xxl} - 3px) calc(#{$space-m} - 6px);
   color: color(white);
   background-color: color(primary);
   border: none;
   position: relative;
   text-decoration: none;
   font-weight: 500;
   font-size: 17px;
   font-family: $font-primary;
   display: inline-block;
   line-height: 1;
   border-radius: 0.4em;
   outline: none;
   z-index: 2;
   text-align: center;
   margin: 0;
   margin-top: $space-s;
   transition: all 0.08s ease;

   // @include bob();
   // @include shadow();
   // @include shrink();
   // @include grow();

   @include device(500, 'max') {
      font-size: 1em;
   }

   &:hover {
      // @include shadow();

      opacity: 1;
      // @include dim($opacity-soft);
      // box-shadow: none;
      // background-color: darken(color(primary), 62);
      // background-color: #2d4be2;
   }

   &:focus {
      border: none;
      outline: none;
   }

   &.is-disabled {
      background-color: color(medium-grey);

      &:hover {
         opacity: 0.4;
         background-color: color(medium-grey);
         transform: scale(1);
      }
   }

   &.is-loading {
      position: relative;
      padding: $space-m $space-xl $space-m $space-xl * 2;

      &:before {
         display: block;
         content: '';
         position: absolute;
         border-radius: 50%;
         width: 1.3em;
         height: 1.3em;
         left: 1.5em;
         top: 1.1em;
         border: 0.15em solid color(white);
         border-top-color: transparent;
         animation: spin $speed-slow infinite linear;
      }
   }

   .fa {
      margin-right: $space-xxxs;
      // opacity: $opacity-soft;
   }

   .svg-inline--fa {
      box-sizing: border-box;
      font-variant-caps: normal;
      font-variant-ligatures: normal;
      text-rendering: auto;
      margin-right: 8px;
   }
}

.btn-secondary {
   font-size: 1.2em;
   background-color: color(secondary);

   // &:hover {
   //    background-color: darken(color(secondary), 6);
   // }
}

input[type='submit'],
.edd-submit {
   font-size: 1.44em;
}

.btn-group {
   position: relative;
   overflow: visible;

   .btn {
      margin-right: $space-m;
   }

   @include device(600, 'max') {
      flex-direction: column;

      .btn {
         margin-right: 0;
      }
   }
}

.btn-l,
#edd-purchase-button {
   font-size: $font-xl;
}

.edd-add-to-cart-label {
   font-size: $font-m;
}

.btn-s {
   font-size: $font-m;
}

.btn-wrap {
   position: relative;

   .spinner {
      top: 5px;
   }
}

.btn-wrap-center {
   text-align: center;
}

.edd_download_file_link {
   margin: 0;

   &:before {
      content: '\f019';
      font-family: 'FontAwesome';
      font-size: 20px;
      display: inline-block;
      margin-right: 10px;
   }
}

.edd-add-to-cart {
   &:hover {
      opacity: 1;
   }

   + input.edd-add-to-cart {
      display: none;
   }

   span.edd-add-to-cart-label {
      &:after {
         font-family: 'FontAwesome';
         content: '\f217';
         display: inline-block;
         margin-left: $space-s;
         display: none;
      }
   }
}

.receipt-account-wrapper .btn {
   &:after {
      content: '\f178';
      font-family: 'FontAwesome';
      display: inline-block;
      margin-left: $space-s;
   }
}

.purchase-confirmation .edd_purchase_receipt_files .edd_download_file_link {
   background-color: color(primary);

   &:hover {
      opacity: 1;
      background-color: darken(color(primary), 12);
   }
}

.btn-copy {
   background: color(base);
   color: #fff;
   display: inline;
   padding: 5px 10px;
   font-size: 14px;
   border-radius: 5px;
}
