.btn,
.button,
a.button.edd-slg-social-unlink-profile,
.edd_download_file_link,
.edd_submit,
.edd-submit,
.search-submit,
.menu-item-back a,
#edd-purchase-button,
#edd-recurring-update-submit,
.nav-links a,
.moretag {
  padding: 0.6em 1.5em 0.7em 1.5em;
  color: color(white);
  background-color: color(primary);
  border: none;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  font-family: $font-primary;
  display: inline-block;
  line-height: 1.1;
  border-radius: 0.4em;
  outline: none;
  z-index: 2;
  text-align: center;
  margin: 0;
  margin-top: $space-s;
  transition: all 0.18s ease;
  opacity: 1;

  // @include bob();
  // @include shadow();
  // @include shrink();
  // @include grow();

  @include device(500, 'max') {
    font-size: 1.3em;
  }

  &:hover:not([disabled]) {
    // @include shadow();
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    color: white;
    box-shadow: 0px 0px 0px 0.24em #cad6ff;
    background-color: #2d45e6;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &[disabled],
  &.is-disabled {
    background-color: #ececec;

    &:hover {
      opacity: 0.4;
      background-color: #ececec;
      transform: scale(1);
      box-shadow: none;
    }
  }

  &.is-loading {
    position: relative;
    padding: $space-m $space-xl $space-m $space-xl * 2;

    &:before {
      display: block;
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 1.3em;
      height: 1.3em;
      left: 1.5em;
      top: 1.1em;
      border: 0.15em solid color(white);
      border-top-color: transparent;
      animation: spin $speed-slow infinite linear;
    }
  }

  .fa {
    margin-right: $space-xxxs;
    // opacity: $opacity-soft;
  }

  .svg-inline--fa {
    box-sizing: border-box;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    text-rendering: auto;
    margin-right: 8px;
  }

  .fa-external-link {
    margin-left: 8px;
    font-size: 20px;
    position: relative;
    top: -2px;
  }

  .fa-long-arrow-right {
    margin-left: 5px;
  }
}

.moretag,
.btn-secondary {
  background-color: transparent;
  border: 1px solid color(primary);
  color: color(primary);

  &:hover:not([disabled]) {
    background-color: transparent;
    border: 1px solid color(primary);
    color: color(primary);
    opacity: 1;
    box-shadow: 0px 0px 0px 0.24em #e4eaff;
  }

  &:hover[disabled] {
    background-color: transparent;
  }

  &:focus {
    border: 1px solid color(primary);
    outline: none;
  }
}

input[type='submit'],
.edd-submit {
  font-size: 1.44em;

  @include device(600, 'max') {
    font-size: 1.2em;
    width: 100%;
    margin-top: 0;
  }
}

.btn-group {
  position: relative;
  overflow: visible;

  .btn {
    margin-right: $space-m;
  }

  @include device(600, 'max') {
    flex-direction: column;

    .btn {
      margin-right: 0;
      width: 100%;
    }
  }
}

.button-l,
.btn-l {
  font-size: $font-xl;
}

.btn-m,
#edd-purchase-button {
  font-size: 1.3em;
  padding: 0.6em 1.5em 0.6em 1.5em;
}

.edd-add-to-cart-label {
  font-size: $font-m;
}

.btn-s {
  font-size: $font-m;
}

.btn-wrap {
  position: relative;

  .spinner {
    top: 5px;
  }
}

.btn-wrap-center {
  text-align: center;
}

.edd_download_file_link {
  margin: 0;

  &:before {
    content: '\f019';
    font-family: 'FontAwesome';
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
  }
}

.edd-add-to-cart {
  &:hover {
    opacity: 1;
  }

  + input.edd-add-to-cart {
    display: none;
  }

  span.edd-add-to-cart-label {
    &:after {
      font-family: 'FontAwesome';
      content: '\f217';
      display: inline-block;
      margin-left: $space-s;
      display: none;
    }
  }

  @include device(600, 'max') {
    font-size: 26px;
  }
}

.receipt-account-wrapper .btn {
  &:after {
    content: '\f178';
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: $space-s;
  }
}

.btn-copy {
  background: color(base);
  color: #fff;
  display: inline;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}
