.card {
  background: color(white);
  text-align: left;

  flex: 0 0 48%;
  max-width: 48%;
  width: 48%;

  margin-bottom: 2.5em;

  @include card();

  p {
    max-width: 90%;
    margin: 0 auto 1em auto;
  }

  @include device(800, 'max') {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;

    p {
      font-size: $font-s;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }

  }

}


.card-heading {
  font-weight: bold;
  color: color(secondary);
  text-align: center;
}

.card-heading-icon {
  width: 25px;
  height: 25px;
  position: relative;
  left: -5px;
  top: 5px;
}

.cards {

}


.doc-section {
  margin-bottom: 3em;
}

//
// .color {
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   margin: 0 $space-xs;
// }
//
// .color-secondary {
//   background-color: #5adcb2;
// }
//
// .color-primary {
//   background-color: #3bb7cb;
// }
//
// .color-base {
//   background-color: #0c2735;
// }
//
// .color-base-offset {
//   background-color: #f2f2f2;
// }

.component-features {
  @include device(600, 'max') {
    margin-top: 0;
  }
}
