.card {
  background: color(white);
  text-align: left;

  flex: 0 0 48%;
  max-width: 48%;
  width: 48%;

  margin-bottom: 2.5em;

  @include card();



}


.card-heading {
  font-weight: bold;
  color: color(secondary);
}

.cards {

}


.doc-section {
  margin-bottom: 3em;
}

//
// .color {
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   margin: 0 $space-xs;
// }
//
// .color-secondary {
//   background-color: #5adcb2;
// }
//
// .color-primary {
//   background-color: #3bb7cb;
// }
//
// .color-base {
//   background-color: #0c2735;
// }
//
// .color-base-offset {
//   background-color: #f2f2f2;
// }
