.component-comparison-chart {
  background-color: transparent;
  margin-bottom: 6em;
  margin-top: 4em;

  table {
    width: 100%;
  }
   tr {
          border-bottom: 1px solid #cbcbcb;

          &:last-of-type {
             border-bottom: none;
          }
   }
  td {
    border-right: 1px solid #cbcbcb;

    a:not(.btn) {
      color: #181625;
    }
  }

  td,
  th {
    font-size: 17px;
  }

  th {
    font-size: 20px;
  }

  thead {
         border-bottom: 1px solid #cbcbcb;
    .btn {
      margin-top: 0;
      background-color: #181625;
    }

    .cell-center {
      padding-bottom: 1em;
    }

    a {
      text-decoration: none;
      color: #181625;
    }
  }

  .cell-no-border {
    border: none;
  }

  .cell-heading {
    font-size: 20px;
    font-weight: bold;
  }

  .cell {
    text-align: center;
  }

  .cell-yes {
    background: #ebf4eb;
    position: relative;

    svg {
      max-width: 27px;
      font-size: 27px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .cell-no {
    background: #fff4f4;
    position: relative;

    svg {
      max-width: 23px;
      font-size: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      path {
        fill: #bb0d0d;
      }
    }
  }

  .cell-center {
    text-align: center;
  }

  .pro {
    background: #415aff;
    color: white;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 18px;
  }
}
