.component-extensions {
  background: none;
  margin-top: 50px;

  &[data-is-styled='1'] {
    text-align: center;
    background: #fff1f1;
    max-width: 100%;
    padding: 4em 0;
    border-radius: 0;

    .l-row {
      text-align: center;
      justify-content: center;
    }

    .extension-name,
    .extension-excerpt {
      text-align: left;
    }
  }
}

.extension-wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  box-shadow: 0 0 21px -13px rgba(0, 0, 0, 0.42);
  border-radius: 10px;
}

.extension-inner {
  background: white;
  padding: 20px;
  margin-top: 0;
  flex: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.extension-name {
  font-size: 18px;
  font-weight: bold;
  color: color(base);
  text-decoration: none;
  display: block;
  &:hover {
    cursor: pointer;
  }
}

.extension-excerpt {
  margin-top: 10px;
  margin-bottom: 30px;
}

.extension-image {
  line-height: 1;

  img {
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.extension-image-link {
  display: block;
}

.extension-cta {
  margin-top: auto;
  width: 100%;
}

.extension-single {
  .extension-prices {
    p {
      font-size: 17px;
      padding: 0;
      margin: 0 0 0 7px;
      line-height: 1;
    }

    .l-row {
      padding: 10px 0;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .extension-add-to-cart {
    margin-top: 0;

    .btn {
      width: 100%;
      font-size: 22px;
      margin-top: 1.3em;
    }
  }

  .extension-price {
    text-align: right;
    font-weight: bold;
  }

  .extension-name,
  .extension-excerpt {
    text-align: center;
    width: 100%;
  }

  .extension-name {
    font-size: 42px;
    margin-bottom: 10px;

    &:hover {
      cursor: text;
    }
  }

  .extension-single-header {
    background: #f0f0ff;
    padding-top: 50px;
    padding-bottom: 20px;

    .extension-excerpt {
      font-size: 18px;
    }
  }

  .extension-content {
    margin-top: 40px;
    padding-right: 60px;
  }

  .extension-purchase {
    margin-top: 26px;
    padding: 0;
    margin-bottom: auto;
    margin-top: 3em;
    box-shadow: 0 0 21px -13px rgba(0, 0, 0, 0.42);

    .post-thumb {
      display: block;

      &:hover {
        opacity: 1;
      }
    }
  }

  .post-thumb {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .extension-purchase-inner {
    padding: 15px 20px 20px 20px;
    margin-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f0f0ff;
  }

  .extension-breadcrumbs {
    margin-bottom: 20px;
  }

  .extension-breadcrumbs-separator svg {
    width: 5px;
    margin: 0 5px;
    opacity: 1;
  }

  .extension-breadcrumbs-current {
    font-weight: bold;
  }

  .l-contain {
    max-width: 1170px;
  }

  .extension-terms {
    font-size: 13px;
    margin-top: 10px;
    color: #3f3f3f;

    a {
      color: #3f3f3f;
    }
  }

  .extension-selection-icon {
    width: 25px;
    max-width: 25px;
    flex: 0 0 25px;
    height: 25px;
    position: relative;
    margin: 0;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../imgs/icon-check-not-selected.svg);
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0.6;
    }

    &.is-selected {
      &:before {
        opacity: 1;
        background-image: url(../imgs/icon-check-selected.svg);
      }
    }
  }

  .extension-tier {
    flex: 1;
  }

  .extension-price {
    width: 160px;
    max-width: 160px;
    flex: 0 0 160px;
  }

  .extension-content-inner {
    font-size: 17px;
  }

  .extension-faq {
    margin-top: 0;
    margin-bottom: 2em;

    .faq-question {
      padding-top: 0;
      padding-bottom: 0;
      border: none;

      svg {
        position: relative;
        left: 0;
        max-width: 15px;
        top: 1px;
        margin-right: 10px;
      }

      > [itemprop='name'] {
        font-size: 15px;
        text-decoration: underline;
      }
    }

    .faq-answer {
      margin-top: 15px;
    }
  }

  .extension-notes {
    position: absolute;

    span,
    a {
      font-size: 14px;
      color: color(base);
      display: block;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }
}
