.component.component-faq {
   margin-bottom: $space-xxxl;
   background: transparent;
}

.faqs {
   margin-left: 0;
}

.faq-question {
   padding: $space-l 0;
   font-size: $font-l;
   border-bottom: 1px solid color(medium-grey);
   font-weight: bold;

   .fa-plus-square,
   .fa-minus-square {
      font-size: $font-l;
      position: relative;
      top: 5px;
      // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
   }

   &:hover {
      cursor: pointer;
      text-decoration: underline;
   }

   @include device(700, 'max') {
      font-size: $font-m;
   }
}

.faq-answer {
   margin-left: 0;
   margin-top: 0;
   padding-top: $space-l;
   display: none;
   font-size: 16px;
   opacity: 0;

   ol {
      margin-left: $space-l * 2;
   }

   &.is-open {
      display: block;
      margin-bottom: $space-xxl;
      background: #f8f8f8;
      padding: 30px 40px;
      opacity: 1;
   }
}

.faqs-group {
   margin-bottom: $space-xl * 2;
}

.faqs-heading {
   &:before {
      display: block;
      content: ' ';
      margin-top: -30px;
      height: 30px;
      visibility: hidden;
      pointer-events: none;
   }
}
