.component.component-faq {
  margin-bottom: $space-xxxl;
  background: transparent;
}

.faqs {
  margin-left: 0;
  max-width: 780px;
  margin: 0 auto;
}

.faq-question {
  padding: $space-l 0;
  font-size: $font-l;
  border-bottom: 1px solid color(medium-grey);
  transition: all 0.1s ease;

  > div {
    width: 100%;
    position: relative;
    font-weight: bold;
  }

  .fa-plus-square,
  .fa-minus-square {
    font-size: $font-l;
    position: absolute;
    top: 5px;
    right: 0;
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.65);

    path {
      fill: #415aff;
    }
  }

  &:hover {
    cursor: pointer;
    color: #415aff;
  }

  @include device(700, 'max') {
    font-size: $font-m;
    position: relative;
    padding-right: 4em;

    .fa-plus-square,
    .fa-minus-square {
      position: absolute;
      right: 0;
      top: calc(50% - 10px);
    }
  }
}

.faq-answer {
  margin-left: 0;
  margin-top: 0;
  padding-top: $space-l;
  display: none;
  font-size: 16px;
  opacity: 0;

  ol {
    margin-left: $space-l * 2;
  }

  &.is-open {
    display: block;
    margin-bottom: $space-xxl;
    background: color(off-white);
    padding: 30px 40px;
    opacity: 1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    @include device(700, 'max') {
      padding: 20px;
      word-break: break-word;
    }
  }
}

.faqs-group {
  margin-bottom: $space-xl * 2;
}

.faqs-heading {
  &:before {
    display: block;
    content: ' ';
    margin-top: -30px;
    height: 30px;
    visibility: hidden;
    pointer-events: none;
  }
}

.component-faq-secondary {
  padding: 0;
  background: none;
  border-radius: 0;

  img {
    width: 400px;
  }

  .l-row {
    align-items: flex-start;
  }

  .faqs-wrap,
  .faqs {
    flex: 1;
  }

  .btn {
    margin-top: 2em;
  }

  .faqs-wrap {
    p {
      max-width: 700px;
    }
    .faqs {
      padding-left: 0;
    }
  }
}

.faqs-wrap {
  h2 {
    text-align: center;
    font-size: 40px;
  }
}

.component-marquee + .component-faq-secondary {
  padding-top: 16em;
}
