.component-mailinglist {
  position: relative;
  margin-bottom: 1em;
  color: color(base);
  border-radius: 20px;
  background-color: color(off-white);
  padding: 0 3em;
  outline: 10px solid #ffffff;
  outline-offset: -2px;
  outline-style: solid;

  @include device(1000, 'max') {
    padding: 0 2em;
  }

  .component-inner {
    padding: 2em 0 3em 0;
  }

  .form-messages {
    position: absolute;
    width: 100%;
    padding: 10px;
  }

  .form-label {
    color: color(base);
    font-weight: 100;
    z-index: 99;
    top: 1.2em;
    font-size: 1em;

    @include device(1000, 'max') {
      top: 18px;
    }
  }

  .is-focused {
    .form-label {
      color: color(base);
    }
  }

  label.error {
    margin-top: 0;
    position: relative;
    top: 16px;
  }

  .is-submitted {
    .form-success {
      margin-top: 1em;
      margin-top: 1em;
    }
  }

  .l-contain-narrow {
    max-width: 1200px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-control {
    display: flex;

    #mailinglist-email {
      flex: 1;
      border-radius: 10px 0 0 10px;
      font-size: 1em;
      margin: 0;

      @include device(1000, 'max') {
        border-radius: 10px;
      }
    }
    .btn-group {
      width: 230px;
      display: flex;

      @include device(1000, 'max') {
        max-width: 100%;
        width: 100%;
      }

      .btn {
        border-radius: 0 0.4em 0.4em 0;
        width: 100%;
        font-size: 1.2em;
        background-color: color(base);
        transform: scale(1) !important;
        margin: 0;

        @include device(1000, 'max') {
          border-radius: 0.4em;
          margin: 1em 0 0 0;
        }

        &:hover {
          transform: scale(1) !important;
        }
      }
    }
  }
}

.stylized-border {
  outline: 10px solid #fff;
  outline-offset: -2px;
  outline-style: solid;
}

.mailinglist-group-copy {
  color: color(white);
  z-index: 9999999999999;
  align-items: center;

  @include device(600, 'max') {
    z-index: 999;
  }
}

.mailinglist-heading {
  margin-bottom: 0;
  color: color(base);
  font-size: 2.5em;

  @include device(1000, 'max') {
    font-size: 2em;
  }

  @include device(400, 'max') {
    font-size: $font-xl;
  }
}

.mailinglist-copy {
  font-size: 1.1em;
  text-align: center;
  color: color(base);
  margin-top: 20px;

  @include device(1000, 'max') {
    font-size: 16px;
  }
}

.mailinglist-form-inline {
  max-width: 640px;
  text-align: left;
  margin: 4em auto;

  #email-error {
    margin-top: 0;
  }

  .spinner {
    right: calc(2% - 0px);
    top: 3px;
  }

  .form-messages {
    width: 82%;
    margin: 1em auto;
  }

  .mailinglist-group-copy {
    align-items: flex-start;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 18px;
  }

  .mailinglist-copy {
    text-align: left;
    margin: 0;
    display: inline;
    margin-left: 10px;
    width: auto;
  }
  .form-control {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }

  .mailinglist-email {
    width: 270px;
    padding: 0.7em 1.2em;
    margin-right: 1em;
    flex: 1;
    font-size: 17px;
  }

  .btn-group,
  .btn {
    margin: 0;
  }

  > .l-row {
    @include device(900, 'max') {
      flex-direction: column;
    }
  }
}

.footer {
  .mailinglist-form-inline {
    .mailinglist-group-copy,
    .form-control {
      justify-content: center;
    }

    .form-message {
      text-align: center;
    }
  }
}
