.component-marquee {
   width: 100%;
   position: relative;
   min-height: calc(80vh - 130px - 30px);
   // margin-bottom: 40px;
   padding: 7em 0;
   background: transparent;
   // background-image: url('imgs/stuff.png');
   // background-size: contain;
   // background-position: 30% -29%;
   // background-repeat: no-repeat;

   // @include device(1700, 'min') {
   //    min-height: 58vh;
   // }

   // @include device(1000, 'max') {
   //    min-height: 60vh;
   // }

   @include device(600, 'max') {
      min-height: calc(100vh - 130px - 30px);
   }

   .logo {
      width: 38px;
      height: 38px;
   }
   .logos {
      position: absolute;
      bottom: -150px;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .wordpress {
      position: relative;

      // @include device(1000, 'max') {
      //    display: block;
      // }

      &:before {
         // position: absolute;
         // top: 300px;
         // left: 400px;
         content: '';
         display: block;
         background-image: url('imgs/icon-wp.svg');
         width: 40px;
         opacity: 0.75;
         height: 40px;

         @include device(1000, 'max') {
            display: none;
         }
      }
   }

   .shopify {
      position: relative;

      // @include device(1000, 'max') {
      //    display: block;
      // }

      &:before {
         // position: absolute;
         // top: 300px;
         // right: 394px;
         content: '';
         opacity: 0.75;
         display: block;
         background-image: url('imgs/icon-shopify.svg');
         width: 40px;
         height: 40px;

         @include device(1000, 'max') {
            display: none;
         }
      }
   }

   .fa-fw {
      width: 1.6em;
   }

   .btn:last-of-type {
      margin-right: 0;
   }
}

.marquee-img {
   max-width: 60vw;
   display: block;
   margin: 0 auto;
   position: relative;
   top: 15vh;
}

.marquee-content {
   position: relative;
   text-align: center;
   top: 1vh;
   left: -10px;

   h1 {
      font-size: 42px;
      font-size: 4.2vw;
      max-width: 80vw;
      line-height: 1;
   }

   @include device(1500, 'max') {
      top: 0;
   }

   @include device(1000, 'max') {
      top: 0;
      left: 0;
      padding: 0 1em;
   }

   @include device(700, 'max') {
      padding: 0;
   }
}

.marquee-heading {
   max-width: 80vw;
   font-size: $font-xxl * 2.8;
   font-weight: bold;
   margin-bottom: 0;

   @include device(1500, 'max') {
      right: 90px;
      font-size: $font-xxl * 2.6;
      max-width: 100%;
   }

   @include device(1000, 'max') {
      right: 90px;
      font-size: $font-xxl * 2.2;
      max-width: 100%;
   }

   @include device(700, 'max') {
      font-size: $font-xxl * 1.7;
   }

   @include device(500, 'max') {
      // font-size: $font-xxl*1.7;
   }

   .fa-cog,
   .fa-sync-alt {
      margin: 0 20px;
   }
}

.marquee-short-desc {
   margin: 15px auto 1em auto;
   font-size: $font-xxl;
   max-width: 800px;

   @include device(1500, 'max') {
      max-width: 740px;
      margin: $space-l auto;
   }

   @include device(1000, 'max') {
      right: 90px;
      font-size: $font-xl;
   }

   @include device(700, 'max') {
      font-size: 1.1em;
   }
}
