.component-marquee {
  width: 100%;
  height: calc(100vh - 20px);
  padding: 0;
  background: transparent;

  @include device(700, 'max') {
    max-width: 92vw;
    padding: 0;
  }

  .logo {
    width: 30px;
    height: 30px;
    margin: 0;

    @include device(700, 'max') {
      width: 28px;
      height: 28px;
    }

    @include device(500, 'max') {
      width: 20px;
      height: 20px;
    }
  }
  .logos-wrapper {
    margin: 0 auto 1em auto;
    display: flex;

    .logos {
      width: 100px;

      &:hover {
        opacity: 1;
      }
    }
    @include device(600, 'max') {
      position: relative;
      top: -17vw;
    }
  }

  .wordpress {
    position: relative;

    &:before {
      content: '';
      display: block;
      background-image: url('imgs/icon-wp.svg');
      width: 40px;
      opacity: 0.75;
      height: 40px;

      @include device(1000, 'max') {
        display: none;
      }
    }
  }

  .shopify {
    position: relative;

    // @include device(1000, 'max') {
    //    display: block;
    // }

    &:before {
      // position: absolute;
      // top: 300px;
      // right: 394px;
      content: '';
      opacity: 0.75;
      display: block;
      background-image: url('imgs/icon-shopify.svg');
      width: 40px;
      height: 40px;

      @include device(1000, 'max') {
        display: none;
      }
    }
  }

  .fa-fw {
    width: 1.6em;
  }
}

.marquee-img {
  max-width: 60vw;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 15vh;
}

.marquee-left {
  padding: 3em 1em 0 6em;
  width: calc(44vw - 3em);

  .btn-secondary {
    padding-right: 2.8em;

    .svg-inline--fa {
      max-width: 20px;
      display: inline-block;
      position: absolute;
      right: 26px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .getting-started-trigger {
    font-size: $font-xl;
  }
}

.marquee-short-blurb {
  font-size: 1.4em;
}

@keyframes mover {
   0% { opacity: 0; transform: translateY(30px); }
   100% { opacity: 1; transform: translateY(0px); }
}

.marquee-right {
  width: 56vw;
  margin-top: 0.8em;
  position: relative;

  .stage {
    background: #03030f;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    width: 100%;
    height: 80%;
    margin: 0;
    border-top-left-radius: 15px;
  }

  .screen-one {
    max-width: 350px;
    position: absolute;
    top: 60px;
    left: 7vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -29px 115px -92px #000000de;
    animation: mover 0.4s;
  }

  .screen-two {
    max-width: 250px;
    position: absolute;
    top: 60px;
    left: 30vw;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -29px 115px -92px #000000de;
    animation: mover 0.7s;
  }
}

.marquee-content {
  position: relative;
  text-align: left;
  height: 100%;

  h1 {
    max-width: 720px;
    line-height: 1;
    font-size: 72px;
    margin-bottom: 28px;

    @include device(1200, 'max') {
      font-size: 62px;
    }

    @include device(900, 'max') {
      font-size: 52px;
    }

    @include device(600, 'max') {
      font-size: 10vw;
      margin-top: -2em;
    }
  }

  .btn {
    @include device(700, 'max') {
      font-size: 24px;
    }

    @include device(400, 'max') {
      font-size: 6vw;
    }
  }

  @include device(1500, 'max') {
    top: -8vh;
  }

  @include device(1000, 'max') {
    top: -6vh;
    left: 0;
    padding: 0 1em;
  }

  @include device(700, 'max') {
    top: -9vh;
    padding: 0;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include device(600, 'max') {
    top: -2vh;
  }
}

.marquee-heading {
  max-width: 80vw;
  font-size: $font-xxl * 2.8;
  font-weight: bold;
  margin-bottom: 0;

  @include device(1500, 'max') {
    right: 90px;
    font-size: $font-xxl * 2.6;
    max-width: 100%;
  }

  @include device(1000, 'max') {
    right: 90px;
    font-size: $font-xxl * 2.2;
    max-width: 100%;
  }

  @include device(700, 'max') {
    font-size: $font-xxl * 1.7;
  }

  @include device(500, 'max') {
    // font-size: $font-xxl*1.7;
  }

  .fa-cog,
  .fa-sync-alt {
    margin: 0 20px;
  }
}

.marquee-short-desc {
  margin: 15px auto 1em auto;
  font-size: $font-xxl;
  max-width: 800px;

  @include device(1500, 'max') {
    max-width: 740px;
    margin: $space-l auto;
  }

  @include device(1000, 'max') {
    right: 90px;
    font-size: $font-xl;
  }

  @include device(700, 'max') {
    font-size: 1.1em;
  }
}
