.msg,
label.error {
  text-align: center;
  font-size: $font-s;

  a {
    color: color(white);
  }

  p {
    margin-bottom: 0;
  }

  .fa {
    margin-right: $space-xxs;
  }

}

.msg-notice {
  background-color: color(notice);
}

.msg-success {
  background-color: color(success);
}

.msg-error {
  background-color: color(error);
}

.msg {
  color: color(white);
  padding: $space-s $space-m;
  border-radius: 10px;
  font-weight: normal;
  text-align: center;
  margin-bottom: $space-xl;
  margin-top: $space-m;
  position: relative;

  &:after {
    content: '';
    display: block;
  }

  a {
    color: color(white);
  }

}


.msg {
  position: fixed;
  top: 40px;
  left: 0;
  width: auto;
  width: 700px;
  z-index: 999;
  animation-duration: 0.5s;
  left: 50%;
  margin-left: -350px;
  font-size: $font-m;
  box-shadow: 0 8px 60px 7px hsla(0,0%,43%,.31);

  @include device(800, 'max') {
    width: 90%;
    margin-left: -45%;
  }

}

.msg-not-fixed {
  position: static;
  display: inline-block;
  margin-left: 0;
  left: 0;
  box-shadow: none;
}
