.component-pro {
   padding: 0 0 1em 0;
   max-width: 100vw;
   background-color: #e4f2ff;
   margin: 4em auto 4em auto;
   text-align: center;
   border-radius: 0;
   position: relative;

   .l-contain-narrow {
      position: relative;
   }

   h2 {
      font-size: 2.5em;
      text-align: center;
   }

   p {
      font-size: 1.2em;
      text-align: left;
   }

   .btn-group {
      text-align: center;

      a:last-child {
         background-color: color(base);
      }
   }
}
