.component-screenshots {
  background: transparent;
  margin: 16em 0 8em 0;
  max-width: 100%;
  position: relative;
  overflow: visible;

  .l-row {
    justify-content: center;
  }

  .bg {
    display: none;
    width: 30%;
    height: 125%;
    position: absolute;
    left: 0;
    top: -156px;
    z-index: -1;
    border-top-right-radius: 154px;
    border-bottom-right-radius: 500px;
    background: #dffffb;
  }

  @include device(1000, 'max') {
    .screenshot {
      flex-direction: column;
      margin-bottom: 5em;
    }

    .screenshot-image-wrapper {
      text-align: center;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      margin: 0;
    }

    .screenshot-image {
      max-width: 100%;
      width: 100%;
      position: relative;
      margin: 0 auto;
      left: 0;

      + .screenshot-image {
        display: none;
      }
    }

    .screenshot-image-description {
      padding: 20px;
      max-width: 100%;
      width: 100%;
      position: static;
      transform: none;
      margin: 0;

      border-top: 7px solid #1d144f;
      border-radius: 20px;
      background: #fff;
      margin-top: -1em;
      box-shadow: none;
    }
  }
}

.screenshots {
  position: relative;
  list-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
  transition: all ease 1s;
}

.screenshot {
  margin-bottom: 2em;
  margin-top: 0;
  position: relative;
  display: none;
  padding-left: 18px;
  transform: translateY(20px);
  transition: all ease 1s;

  &.is-visible {
    transition: all ease 1s;
    display: block;
    transform: translateY(0px);
  }
}

.screenshot-description {
  font-size: 18px;
  margin-top: 10px;
}

.screenshot-images {
  width: 53%;
  border-radius: 0;
  margin-right: 3em;

   @include device(1500, 'max') {
      margin-right: 5em;
   }

}

.screenshot-content {
  width: 40%;
  padding: 0 4em 0 2em;
  margin-top: 0;
  position: relative;
  left: -90px;

@include device(1500, 'max') {
    left: -80px;
    width: 41%;
   }    
}

.screenshots-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  li {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block !important;
    position: relative;

@include device(1500, 'max') {
font-size: 16px;
   }    

    a {
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      color: #415aff;
    }

    &.is-visible {
      opacity: 1;
      display: inline-block !important;
      background-color: transparent;
      box-shadow: 0 0 0 1px #415aff;
      color: #415aff;

      &:hover {
        cursor: default;
      }
    }

    &[data-type='video'] {
      padding-left: 3.2em;
      margin-top: 1em;

      svg {
        width: 27px;
        height: 27px;
        position: absolute;
        left: 19px;
        top: 11px;
      }
    }
  }
}

.screenshot-image {
  display: none;
  border-radius: 0;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  width: 600px;
  height: 750px;
  background: transparent;
  position: relative;
  left: 36px;
  top: -50px;
  box-shadow: 0 0 31px -10px rgba(0, 0, 0, 0.25);
  //   border: 1px solid #ddd;

  &.is-visible {
    display: block;
  }
}

.screenshots-secondary-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13em;
  position: relative;

  @include device(1000, 'max') {
    flex-direction: column;
    margin-bottom: 4em;
  }
}

.screenshot-single {
  width: calc(50% - 2em);
  max-width: calc(50% - 2em);
  margin: 1em;
  z-index: 999;
}

.screenshot-image-wrapper {
  padding-left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;

  // margin-right: 3em;
}

.screenshot-heading {
  font-size: 40px;
  padding-bottom: 5px;

  .emoji {
    margin-right: 13px !important;
    position: relative;
    top: 2px;
  }

  @include device(1200, 'max') {
    font-size: 32px;
  }

  @include device(700, 'max') {
    font-size: 24px;
  }
}

[data-type='cart'] {
  .screenshot-heading {
    svg {
      top: -1px;
      max-width: 55px;
    }
  }
}

[data-type='settings'] {
  .screenshot-heading {
    svg {
      top: 12px;
    }
  }
}

.screenshot-image-description {
  position: absolute;
  width: 50%;
  max-width: 50%;
  z-index: 999;
  flex: 0 0 40%;
  margin-top: 2px;
  background: white;
  font-size: 1.1em;
  padding: 3em 4em 0em 4em;
  border-radius: 10px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px -8px 32px -4px rgba(0, 0, 0, 0.2);

  @include device(1200, 'max') {
    padding: 2em 2em 0em 2em;
  }

  @include device(1000, 'max') {
    border-radius: 0;
  }

  @include device(800, 'max') {
    font-size: 16px;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 116px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -104px;
    z-index: -1;

    @include device(1000, 'max') {
      height: 60px;
      bottom: -35px;
    }
  }
}

.screenshots-short-description {
  margin-bottom: 3em;
}
