.component-screenshots {
   background: white;
   margin-bottom: 2em;
   max-width: 100%;
   //   margin: 0;
   //   border-top: 5em solid white;

   @include device(1000, 'max') {
      .screenshot {
         flex-direction: column;
      }

      .screenshot-image-wrapper {
         text-align: center;
         width: 100%;
         max-width: 100%;
         flex: 0 0 100%;
         margin: 0;
         max-width: 640px;
      }

      .screenshot-image {
         max-width: 100%;
         position: relative;
         margin: 0 auto;
         left: 0;
      }

      .screenshot-image-description {
         margin: 1em auto 3em;
         padding: 0;
         max-width: 700px;
         width: 100%;
      }
   }
}

.page.demo,
.page.purchase {
   .component-screenshots {
      margin-bottom: 3em;
   }
}

.screenshots {
   list-style: none;
   margin: 0;
   max-width: 100%;
   padding: 0;
}

.screenshot {
   margin-bottom: 9em;
   position: relative;
}

.guide-image {
   @include drop-shadow();
}

.screenshot-image {
   // @include shadow();

   border-radius: 10px 10px 0px 0px;
   max-width: 75%;
   margin: 0 auto;
   display: block;
}

.screenshots-secondary-list {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 13em;
   position: relative;

   .screenshot-image-description {
   }
}

.screenshot-single {
   width: calc(50% - 2em);
   max-width: calc(50% - 2em);
   margin: 1em;
}

.screenshot-image-wrapper {
   padding-left: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   max-width: 100%;
   flex: 0 0 100%;

   // margin-right: 3em;
}

.component-screenshots.has-background {
   .screenshot-image-wrapper {
      background: color(off-white);
      // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      padding: 4em 0px;
      border-radius: 20px;
      outline: 10px solid #ffffff;
      outline-offset: -2px;
      outline-style: solid;
   }
}

.screenshot-heading {
   text-align: center;
   font-size: 40px;
}

.screenshot-image-description {
   position: absolute;
   width: 50%;
   max-width: 50%;
   z-index: 999;
   flex: 0 0 40%;
   margin-top: 2px;
   background: white;
   font-size: 1.1em;
   padding: 3em 4em 0em 4em;
   border-radius: 10px;
   position: absolute;
   top: 95%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px -8px 32px -4px rgba(0, 0, 0, 0.2);

   &:after {
      display: block;
      content: '';
      width: 100%;
      height: 116px;
      background-color: white;
      position: absolute;
      left: 0;
      bottom: -104px;
      z-index: -1;
   }
}

.screenshots-short-description {
   margin-bottom: 3em;
}
