.component-snippet {
  max-width: 100%;
}

.snippet-heading {
  font-size: $font-xl*2;
  font-weight: bold;

}

.snippet-image {
  width: 400px;
  height: auto;
  padding-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

.snippet-content {
  padding-top: 0;
  width: 60%;
  margin-left: 3em;
}

.snippet-copy {
  font-size: $font-l;
}

.snippet {
  margin-bottom: 3em;
  width: 90%;
  margin: $space-xxl auto;

  &:after {
    content: '';
    width: 200px;
    height: 1px;
    background-color: color(medium-grey);
    display: block;
    margin: $space-xxl auto;
  }

  &:last-of-type {
    &:after {
      display: none;
    }
  }

}
