.spinner {
  display: none;
  position: absolute;
  bottom: 9px;
  right: calc(50% - 25px);
  margin: 0;
  box-sizing: border-box;
  z-index: 9;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid color(base);
  border-top-color: #fff;
  animation: spin 0.6s infinite linear;
}

.spinner-sm {
  width: 30px;
  height: 30px;
  right: calc(50% - 15px);
  bottom: calc(50% - 20px);
  border: 2px solid color(secondary);
  border-top-color: color(white);
}
