.form,
.edd_form,
.search-form,
.affwp-form {
  width: 100%;
  max-width: 700px;
  position: relative;
  margin: 0 auto 2em auto;

  .description {
    display: block;
    margin-top: $space-l;
  }
}

.edd-login-username + .edd-login-password {
  margin-top: 1.5em;
}

.form-control {
  position: relative;
  margin-right: 10px;
  margin-top: 0;

  p {
    margin: 0;
  }

  input {
    margin: 0;
    border-radius: 0.4em;
  }
}

.form-label {
  position: absolute;
  left: $space-m;
  top: 1.1em;
  font-size: $font-m;
  opacity: $opacity-hard;
  transition: all 0.2s ease;

  @include device(900, 'max') {
    top: 15px;
  }

  &:hover {
    cursor: text;
  }
}

.form-label-l {
  font-size: $font-l;

  @include device(900, 'max') {
    font-size: $font-m;
  }
}

.is-focused {
  .form-label {
    opacity: 0;
    // left: 2px;
    // top: -6px;
    font-size: 0.6em;
    color: color(white);
    padding: 10px 15px;
    border-radius: 0.4em;
    font-weight: 100;

    @include device(800, 'max') {
      left: -10px;
      top: -40px;
      font-size: 16px;
    }

    &:hover {
      cursor: text;
    }
  }

  // .form-input {
  //    border: none;
  // }
}

.form-input {
  position: relative;
}

.form-input-s {
  font-size: 16px;
  padding: 0.9em;
}

input,
textarea,
select {
  width: 100%;
  padding: $space-m;
  border-radius: 0.4em;
  font-size: $font-m;
  border: none;
  background: color(white);
  color: color(base);
  margin-top: 0;
  border: 1px solid #959595;
  font-weight: normal;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #bed0ff;
    border-color: #bed0ff;
  }

  &.valid:not([type='submit']) {
    @include validInput();
  }

  @include device(900, 'max') {
    font-size: 1em;
  }

  &:disabled {
    background-color: #ececec;
    // @include dim($opacity-hard);
    opacity: 1;
    box-shadow: none;

    &:hover {
      // opacity: $opacity-hard;
      cursor: not-allowed;
      background-color: #ececec;
      // transform: scale(1);
    }
  }
}

.affwp-form input[type='checkbox'] {
  width: auto;
  margin-right: 10px;
}

.affwp-form input {
  border: 1px solid #959595;
}

input[type='number'] {
  max-width: 50px;
  text-align: center;
}

.edd-stripe-card-radio-item {
  > label {
    display: flex !important;

    span {
      margin: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input[type='radio'] {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &.new-card-wrapper {
    display: flex;

    > label {
      flex: 1;
    }
  }
}

input[type='submit'] {
  width: auto;
  border: none;
  height: auto;
}

#form-account-profile-general,
#form-account-profile-password {
  input[type='submit'] {
    font-size: 1.2em;
  }
}

input[type='search'] {
  border-radius: 0.4em;
}

input.valid {
  animation-duration: 2s;
}

form input:read-only {
  // @include validInput();
  // opacity: $opacity-hard;

  + .is-valid {
    &:after {
      // opacity: $opacity-hard;
    }
  }
}

select[aria-invalid='true'],
input[aria-invalid='true'] {
  @include invalidInput();
}

select[aria-invalid='false'],
input[aria-invalid='false'] {
  @include validInput();
}

label {
  font-weight: bold;
  margin-bottom: $space-s;
  display: block;

  & + small {
    margin-bottom: 10px;
    display: block;
    margin-top: 0;
  }
}

label[for='wps_customer_password_new'] {
  margin-top: $space-xxxl;
}

.notice-inline {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s all ease;
  opacity: 0;

  &.is-notifying {
    opacity: 1;
    transform: translateY(-50px);
  }
}

.view-key-wrapper {
  // position: relative;
  // padding: 0.7em 0 0.8em 0;

  .fa {
    position: absolute;
    right: 15px;
    top: -6px;
    // opacity: 0.6;
    color: color(warning);
    // font-weight: bold;
  }
}

#license-key {
  user-select: all;
  font-size: 16px;

  + svg {
    font-size: 20px;
    margin: 0;
  }

  &:hover {
    cursor: text;
  }
}

.msg-error,
.edd-alert-error,
.edd_errors,
label.error {
  background: color(error);
  display: inline-block !important;
  color: color(base);
  // font-size: 13px;
  padding: 0.59444em 2.4em;
  border-radius: 0.4em;
  font-weight: normal;
  // animation-duration: 0.1s;
  // animation-delay: 0.1s;
  // animation-fill-mode: both;
  // animation-name: zoomIn;
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
  }

  a {
    color: color(base);
  }

  &:empty {
    padding: 0;
    display: none !important;
  }
}

legend {
  font-size: $heading-2;
  margin: 0 auto;
  border: none;
  padding-bottom: $space-xs;
  width: 100%;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-family: $font-secondary;

  p {
    font-size: $font-xxxs;
    font-style: italic;
  }

  &:after {
    content: '';
    margin: $space-s auto 0 auto;
    display: block;
    height: 1px;
    width: 100px;
    background-color: color(base);
  }

  @include device(600, 'max') {
    font-size: $heading-4;
  }
}

select {
  height: 60px;
  text-indent: 10px;
}

.form-input-l {
  font-size: $font-l;

  @include device(900, 'max') {
    font-size: $font-m;
  }
}

#mailinglist-email {
  width: 100%;
  // outline: none;
  margin-bottom: 1em;
}

.mailinglist-form,
#mailinglist-form {
  margin-top: 0;
  width: 100%;
  max-width: 100%;

  .form-control {
    margin-right: 0;
  }
}

.form-message {
  text-align: center;

  &:empty {
    margin: 0;
    padding: 0;
  }

  &.is-visible {
    text-align: left;
    margin: 10px 0 5px 0;
  }
}

.form-error {
  color: color(error);
}

.form-valid {
  + .form-messages {
    .form-error {
      display: none;
    }
  }
}

.form-error,
.form-success {
  background: color(success);
  //   padding: 10px 25px;
  border-radius: 0.4em;
  text-align: center;
  color: black;

  svg {
    margin-right: 6px;
    margin-top: 0;
  }

  label,
  .error,
  label.error {
    padding: 10px 25px;
    font-weight: normal;
    font-size: 15px;
  }
}

.form-error {
  background: color(error);
}

.form-messages {
  margin: 0;
}

.is-submitted {
  .form-messages,
  .form-message {
    margin-top: 0;

    .fa {
      margin-top: 0;
    }
  }

  .form-control {
    display: none;
  }

  .form-success.is-visible {
    // min-height: 200px;
  }
}

.is-submitting {
  .form-label {
    display: none !important;
  }

  .spinner {
    display: block;
  }
}

#edd_profile_submit_wrap {
  margin-top: $space-xl;
}

.edd-login-remember {
  label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    margin-bottom: 0;
    font-weight: normal;
  }

  input[type='checkbox'] {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
}

#form-forgot-pass {
  width: 100%;
}

#edd-stripe-payment-errors {
  text-align: center;
}

.form-note {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: $space-xxs;
  margin-bottom: $space-m;
  font-size: 90%;
}

.form-note-invalid-field {
  text-align: center;
  color: color(base);
  margin-bottom: $space-xxs;
}

.edd-apply-discount.edd-submit,
#edd-add-license-renewal {
  font-size: 17px;
}
#edd-cancel-license-renewal {
  margin-left: 10px;
  color: color(primary);
}

#edd_login_form {
  legend {
    display: none;
  }

  .edd-login-remember {
    margin-bottom: 0;
  }

  .edd-login-submit {
    text-align: center;
    margin-bottom: $space-xxs;
  }
}

.edd-lost-password a,
#edd-user-login-submit + a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

#edd_checkout_form_wrap {
  margin-top: 1.1em;

  @include device(500, 'max') {
    padding: 0 20px;
  }
}

.wps-checkout-login-spacer {
  display: none;
  margin-top: 0;

  &.is-stuck {
    display: block;
  }
}

// .form-account {
//   .spinner {
//     top: calc(50% - 80px);
//     right: calc(50% - 15px);
//   }
// }

#edd_sl_license_keys2 {
  @include device(600, 'max') {
    display: flex;
    flex-direction: column;
  }
}

#edd_sl_license_keys {
  // border-top-left-radius: 0;
  // border-top-right-radius: 0;
  // border-top: 0;

  @include device(600, 'max') {
    display: flex;
    flex-direction: column;
  }

  // thead th {
  //   padding-top: 0;
  // }
}

#edd-discount-code-wrap {
  display: block !important;

  label {
    margin-top: 2em;
    font-size: 18px;
  }

  .edd-discount-code-field-wrap {
    display: flex;
    margin-top: 10px;

    @include device(600, 'max') {
      flex-direction: column;
    }

    #edd-discount {
      font-size: 16px;
    }

    .edd-apply-discount {
      margin-top: 0;
      margin-left: 1em;

      @include device(600, 'max') {
        margin: 0;
        margin-top: 1em;
      }
    }
  }

  .edd-description {
    display: none;
  }
}

.affwp-errors,
.affwp-notice {
  margin: 0 auto 2em auto;
  max-width: 800px;
  text-align: center;
}

.affwp-errors {
  background-color: color(error);
  border-color: color(error);
}
