/*

Breakpoints

*/
$breakpoints: (
  320: 320px,
  400: 400px,
  500: 500px,
  600: 600px,
  700: 700px,
  800: 800px,
  900: 900px,
  930: 930px,
  1000: 1000px,
  1100: 1100px,
  1200: 1200px,
  1300: 1300px,
  1400: 1400px,
  1440: 1440px,
  1500: 1500px,
  1600: 1600px,
  1700: 1700px
);
