$colors: (
  primary: #415aff,
  secondary: #22c8f4,
  base: #211056,
  dark-grey: #414141,
  medium-grey: #cbcbcb,
  light-grey: #f8f7fc,
  off-white: #f8f7fc,
  white: #fff,
  warning: #e8d67e,
  success: #b1ffe5,
  notice: #aee8ff,
  error: #ffd5d5
);
