$colors: (
   primary: #415aff,
   secondary: #22c8f4,
   base: #181625,
   dark-grey: #414141,
   medium-grey: #cbcbcb,
   light-grey: #f0f0f0,
   off-white: #f3f3f3,
   white: #fff,
   warning: #e8d67e,
   success: #b1ffe5,
   notice: #aee8ff,
   error: #ffd5d5
);
