$colors: (
  primary: #4cb794,
  secondary: #0073ab,
  secondary-light: #e0eeff,
  base: #394752,
  offwhite: #F4F5F7,
  dark-grey: #394752,
  medium-grey: #cbcbcb,
  light-grey: #ededed,
  black: #000,
  white: #fff,
  warning: #e8d67e,
  success: #4cb794,
  notice: #8ed2f3,
  error: #fa9595,
  notice-light: #c6ecff,
  notice-xlight: rgba(198, 236, 255, 0.5)
);
