/*

Spacing

*/
$space-xxxs:      ms(-5);
$space-xxs:       ms(-4);
$space-xs:        ms(-3);
$space-s:         ms(-2);
$space-m:         ms(1);
$space-l:         ms(2);
$space-xl:        ms(3);
$space-xxl:       ms(4);
$space-xxxl:      ms(5);

$margin: ms(2);
$gutter: ms(1);

$max-width: 1400px;
$container-width: 82vw;
$container-width-narrow: 700px;
