$primary: #0c0e1b;
$buttonsPrimary: #2d2d7e;
$buttonsPrimaryHover: #1f1f59;
$buttonsPrimaryBorder: #8772ca;
$shopWPComponentBackground: #2d2d7e;
$cardBackground: #13162b;
$borderPrimary: #2d2d7e;
$subNavBackground: #2d2d7e;
$disabledBackground: #252530;
$complementary: #ffb525;
$blue: #415aff;
