.component-examples {
	margin-top: 50px;

	> p {
		text-align: center;
	}
}

.example-content {
	h2 {
		font-size: 24px;
		margin-top: 20px;
	}
}

.how-image img {
	border-top-right-radius: 70px;
	border: 1px solid #c7cad0;
}
