@use '../vars';

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.06);
	}
	100% {
		transform: scale(1);
	}
}

.anime-spin {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin: 0 auto;

	&.anime {
		position: static;
	}
}

.btn-secondary {
	.anime-spin {
		&.anime {
			position: absolute;
			top: 21%;
			left: calc(50% - 11px);
			transform: translate(-50%, -50%);
			right: auto;
		}
	}
}

.anime-grow {
	animation: grow 0.3s;
}

form {
	&[data-is-busy='true'] {
		input:not([type='submit']),
		select,
		textarea,
		.form-file-dropzone {
			transition: all ease 0.2s;
			opacity: 0.5;

			&:hover {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}
}

input[disabled] {
	background-image: none;
	background: transparent;
	border-color: #4e4f6c;

	&:hover {
		background-image: none;
		background: transparent;
		border-color: #4e4f6c;
		cursor: not-allowed;
		box-shadow: none;
	}
}

input[type='submit'] {
	+ svg {
		width: 25px;
		height: 25px;
		position: relative;
		top: 14px;
		left: 11px;
		animation-name: spin;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		path {
			fill: white;
		}
	}
}

label {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin-bottom: 40px;
}

.edd_form {
	label {
		margin-bottom: 5px;
		flex-direction: row;
		font-weight: normal;
		font-size: 17px;
	}
}

#edd-card-wrap {
	margin-bottom: 25px;
}

#edd-stripe-card-element {
	padding-top: 7px;
	padding-bottom: 7px;
}

#card_state,
#billing_country {
	height: 44px;
}

#edd_secure_site_wrapper {
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	margin-left: auto;
	justify-content: end;
	background: none;
	font-weight: normal !important;
	border-radius: 7px;
	font-size: 16px;
	opacity: 0.7;
	position: absolute;
	left: auto;
	right: 0px;
	top: -45px;

	.padlock {
		margin-right: 7px;
		margin-top: 1px;

		svg {
			position: relative;
			top: 1px;
			width: 15px;
			height: 25px;
		}
		use {
			fill: #04b504;
		}
	}
}

.edd-login-remember {
	font-size: 18px;
	line-height: 1;

	input {
		position: relative;
		top: 3px;
	}
}

.edd-gateway {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-right: 6px;
	position: relative;
	top: 5px;
}

#edd-payment-mode-wrap {
	display: flex;

	> label {
		min-width: 125px;
		text-align: center;
		display: block;
		margin: 0;
		line-height: 1;
		height: 62px;
		padding: 6px 0;
	}
}

.edd-gateway-option {
	padding: 5px 0;
	min-width: 160px;
	text-align: center;
	font-weight: bold;
}

.edd_cart_header_row th {
	text-align: left;
}

#edd_checkout_cart,
#edd-paypal-container {
	width: 100%;
}

#edd_checkout_cart {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 0.4em;
	border: none;
	padding: 0;

	thead {
		display: none;
	}
}

#edd_checkout_user_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 80px;
}

#edd-email-wrap {
	width: 100%;
}

#edd-first-name-wrap,
#edd-last-name-wrap,
#edd-card-address-wrap,
#edd-card-address-2-wrap,
#edd-card-city-wrap,
#edd-card-zip-wrap,
#edd-card-country-wrap,
#edd-card-state-wrap {
	width: 48%;
}

.edd-required-indicator {
	color: #e61e1e;
	position: relative;
	left: 5px;
}

#edd_checkout_form_wrap {
	flex: 1;
	background: #fff;
	min-height: 100vh;
	padding-left: 20vw;
	padding-right: 30px;
	padding-top: 50px;
	position: relative;
	border-right: 1px solid #c8c8c8;

	fieldset#edd_sl_renewal_fields {
		border: 1px solid #414154;
		background: none;
		margin-bottom: 10px;
	}

	.edd-stripe-card-selector + .edd-stripe-new-card {
		margin-top: 0;
		padding-left: 8px;
	}

	.edd-stripe-update-billing-address-brand {
		margin: 0 10px;
	}
	.edd-stripe-update-billing-address-wrapper {
		display: flex !important;
		width: 100%;
		max-width: 100%;
		flex: 1;
		align-items: center;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
		> label {
			line-height: 1;
			margin: 0;
		}
	}

	.edd-stripe-update-billing-address-current {
		width: 100%;
		max-width: 100%;
		flex: 1 1 0%;
		display: block;
		font-size: 17px;
		background-color: #e5e5e5;
		border-radius: 7px;
		padding: 5px 10px 5px 14px;
		line-height: 1.6;
		border: 1px solid #a9a9a9;
	}

	.edd-stripe-card-selector {
		padding-bottom: 20px;
	}

	.edd-card-selector-radio {
		label {
			display: block !important;
			width: 100%;
			padding: 10px 10px 10px 0;
		}

		.edd-stripe-card-radio-item {
			padding: 0;

			label {
				line-height: 1;

				&:hover {
					cursor: pointer;
				}
			}

			&:hover {
				opacity: 0.6;
			}

			&.selected {
				background-color: #f2f2f2;
				border-radius: 7px;

				&:hover {
					opacity: 1;
				}
			}

			.add-new-card,
			.card-label {
				font-size: 18px;
			}

			.add-new-card {
				font-size: 17px;
			}
		}

		.card-expiration {
			font-size: 16px;
			color: #989898;
			position: relative;
			top: -1px;
		}
	}

	.edd-stripe-existing-card {
		width: auto;
		margin-top: 0;
	}
}

.edd-success #edd_checkout_form_wrap {
	padding-left: 16vw;
}

.eddr-cart-item-notice {
	color: vars.$complementary;
	background: #f9e4b7;
	border: 1px solid #d2b067;
	padding: 2px 5px;
	border-radius: 5px;
	display: block;
	margin-left: -3px;
	margin-top: 2px;
	font-style: normal;
	font-size: 15px;
	text-align: center;
	margin-bottom: 15px;

	em {
		font-style: normal;
	}
}

.checkout-logos {
	margin-bottom: 30px;

	svg {
		margin: 0 10px;
		opacity: 0.6;
		filter: grayscale(1);
	}
}

.edd_cart_footer_row_perks {
	padding: 10px;

	p {
		font-size: 18px;
		margin-left: 10px;
		position: relative;
		top: -2px;
		margin-bottom: 3px;
	}

	svg {
		width: 20px;
		height: 20px;
		position: relative;
		top: 2px;
	}
}

.page-id-161 .edd_cart_footer_row_perks svg path {
	fill: rgb(104, 247, 104);

	+ path {
		fill: black;
	}
}

.edd_cart_actions,
.edd_cart_item_price {
	vertical-align: top;
	font-size: 18px;
}

#edd_checkout_cart .edd_cart_item {
	font-size: 18px;
}

.edd_cart_discount {
	font-size: 16px;
	color: #74de74;
	font-weight: normal;
}

.edd_cart_total {
	font-size: 24px;
	border-top: 1px solid #c8c8c8;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;

	.edd_cart_amount {
		font-weight: 100;
	}
}

.purchase-after {
	margin-top: 10px;
	font-size: 16px;

	svg {
		position: relative;
		left: -7px;
		width: 20px;
		top: 1px;
	}
}

.checkout-logged-in-as {
	margin-bottom: 40px;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1;

	a {
		position: relative;
		top: -1px;
	}
}

.edd_discount .screen-reader-text {
	color: vars.$primary;
	width: auto;
	height: auto;
	clip: auto;
	position: static;
	margin: 0;
	padding: 0;
	overflow: visible;
	border: none;
	clip-path: none;
	word-wrap: normal !important;
	display: inline-block;
	margin-left: 10px;
	text-decoration: underline;
}

.edd_discount_total {
	text-transform: uppercase;
	font-weight: bold;
}

.edd_discount .edd_discount_remove {
	text-decoration: underline;
	font-size: 16px;
	font-weight: normal;
	color: white;
	position: absolute;
	right: 15px;
}

.edd_cart_remove_item_btn {
	font-size: 16px;
	position: relative;
	top: -2px;
}

#edd_purchase_submit #edd_final_total_wrap {
	margin-bottom: 7px;
	font-size: 16px;
	text-align: center;
}

#edd-first-description,
#edd-last-description,
#edd_show_discount,
#edd_sl_renewal_form,
#edd-discount-code-wrap .edd-label,
#edd-discount-code-wrap .edd-description,
#edd-card-address-wrap .edd-description,
#edd-card-address-2-wrap .edd-description,
#edd-card-city-wrap .edd-description,
#edd-card-zip-wrap .edd-description,
#edd-card-country-wrap .edd-description,
#edd-card-state-wrap .edd-description,
#edd-email-wrap .edd-description,
#edd-card-name-wrap .edd-description {
	display: none !important;
}

#edd-discount-code-wrap {
	margin-top: 10px;
	display: block !important;
	padding: 0;
}

#edd-discount {
	text-transform: uppercase;
	color: vars.$primary;
	font-size: 18px;

	&::placeholder {
		text-transform: capitalize;
		color: #a6a6a6;
	}
}

.edd-discount-code-field-wrap {
	display: flex;
}

.edd-submit.edd-apply-discount {
	font-size: 18px;
	margin-left: 10px;
	padding: 0.5em 1.3em 0.6em 1.3em;
}

.edd-gateway-option:not(.edd-gateway-option-selected) {
	&:hover {
		cursor: pointer;
		opacity: 0.6;
	}
}

.edd-description {
	display: block;
	margin-bottom: 15px;
	color: #ddd;
	font-size: 18px;
}

.checkout-details-link {
	font-size: 18px;
}

#edd_discount_code {
	border: none;
	padding: 0;
	margin-top: -32px;
	padding-top: 0;
	margin-bottom: 30px;
	order: 3;
}

#edd_payment_mode_select_wrap {
	order: 2;
}

.checkout-footer {
	font-size: 16px;
	color: #565656;
	margin-bottom: 70px;
	text-align: center;
}

// .message {
// 	font-size: 20px;
// 	color: #e7e7e7;
// }

.edd-login-submit {
	margin-top: 30px;
}

.edd-alert-error,
.edd_errors,
label.error {
	background: transparent;
	color: #ff8686;
}

.edd-alert {
	text-align: center;
	padding: 0.29444em 0em;
	margin: 15px 0;
	font-size: 18px;
}

.edd-blocks-form__control {
	display: flex;

	input[type='checkbox'] {
		position: relative;
		top: 2px;
	}

	label {
		margin-bottom: 8px;
		line-height: 1;
		font-size: 18px;
	}
}

.page .edd-blocks-form {
	background-clip: padding-box;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
	border-radius: vars.$borderRadius;
	padding: 10px 0 0 0;
	position: relative;
}

.page .wp-block-edd-login .edd-blocks-form__group-lost-password {
	font-size: 18px;
	position: absolute;
	bottom: 10px;
	left: 125px;
}

.theme-light .page .wp-block-edd-login .edd-blocks-form__group-lost-password {
	bottom: 28px;
	left: 150px;
}

.edd-blocks-form .edd-blocks-form__group > label {
	font-weight: bold;
}

.page .edd-alert .edd_error {
	font-size: 18px;
}

input,
textarea,
select,
.form-file-dropzone {
	padding: 5px 15px;
	background: #13162b;
	border-radius: vars.$borderRadius;
	border: 1px solid #9d9d9d;
	outline: none;
	color: white;
	width: 100%;

	&:focus {
		border: 1px solid #54567d;
	}
}

.theme-dark {
	textarea,
	select,
	input:not([type='submit']),
	.form-file-dropzone {
		border: 1px solid #55557f;

		&:hover,
		&:focus {
			border-color: #5e6896;
		}

		&:disabled {
			border-color: #47475d;
			background-color: #151623;
			color: #8e8e8e;

			&:hover {
				border-color: #47475d;
				background-color: #151623;
				cursor: not-allowed;
				color: #8e8e8e;
			}
		}
	}
}

input[type='submit'] {
	width: auto;
}

input[type='checkbox'] {
	width: 15px;
	height: 15px;
	margin: 0 10px 0 0;
}

label > input,
label > textarea,
label > select,
.form-file-dropzone {
	margin-top: 10px;
}

.form-file,
.form-file-dropzone {
	height: 200px;
	min-height: 200px;

	&:hover {
		cursor: pointer;
	}
}

.form-file-dropzone {
	position: relative;

	svg {
		position: absolute;
		top: 20%;
		left: 46%;
		width: 58px;

		path {
			fill: #272739;
		}
	}

	p {
		position: absolute;
		top: 60%;
		left: 22%;
		width: 55%;
		text-align: center;
		font-size: vars.$font-m;
	}

	ul {
		margin-top: 10px;
		padding-left: 30px;
		font-size: vars.$font-m;
	}
}

input[type='file'] {
	display: none;
}

textarea {
	min-height: 200px;
}

.label-text {
	font-weight: bold;
}

.form-error,
.required-icon {
	color: #f75454;
	font-weight: normal;
}

.form-success {
	font-size: 18px;
	margin-top: 30px;
}

.form-error {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: vars.$font-m;
	padding-left: 4px;
}

fieldset {
	border-radius: 7px;
	border: 1px solid #414154;
	padding: 25px 35px;
	margin-bottom: 40px;

	legend {
		font-size: 20px;
		font-weight: bold;
		margin: 0 auto;
		padding: 10px 20px;
	}
}

.checkout-subheading,
.order-confirm-col h3 {
	font-size: 20px;
}

.checkout-heading {
	font-size: 38px;
	position: relative;
	margin-bottom: 8px;

	svg {
		position: absolute;
		top: 6px;
		left: -60px;
		width: 40px;
		height: 40px;
	}
}

.order-top {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 60px;
	max-width: 600px;

	p {
		position: relative;
		left: 3px;
	}
}

#edd_cc_address {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	position: relative;
	padding-top: 20px;

	legend {
		margin-bottom: 20px;
	}
}

.logged-in #edd_cc_address {
	flex-direction: column;
	justify-content: flex-start;

	legend {
		padding-bottom: 10px;
		margin-bottom: 60px;
	}
}

#edd_purchase_form {
	margin-bottom: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #d7d7d7;
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.login-stuff {
	order: 1;
	position: absolute;
	top: 30px;
	right: 30px;
}

#edd_purchase_form fieldset > p {
	margin-bottom: 25px;
}

.logged-in #edd_cc_address > p {
	width: 100%;
}

.logged-in #edd_purchase_form fieldset .purchase-after {
	width: auto;
}

#edd_checkout_cart_wrap {
	display: flex;
	flex-direction: column;
}

#edd_cc_fields {
	margin-bottom: 80px;
}

#edd_cc_fields,
#edd_cc_address {
	background: #f2f2f2;
}

#edd_cc_fields #edd-stripe-card-errors:not(:empty) {
	margin-top: -20px;

	p {
		margin-top: 0;
		padding-top: 0;
	}
}

#edd_checkout_cart_form {
	width: 500px;
	margin-left: 30px;
	position: sticky;
	top: 40px;
	margin-right: 15vw;
}

.edd-success #edd_checkout_cart_form {
	width: 580px;
}

.shopwp-checkout-inner {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: flex-start;
}

.shopwp-checkout-inner-left {
	width: 70%;
}

.shopwp-checkout-inner-right {
	width: 30%;
}

#edd_checkout_wrap fieldset {
	padding: 15px 20px 0 20px;
	border: 1px solid #dad9d9;
	position: relative;
}

#edd_checkout_wrap #edd_discount_code {
	padding: 0;
	border: none;
	background: none;
}

#edd-gateway-option-paypal_commerce {
	margin-bottom: 20px;
}

.edd_checkout_cart_item_title {
	position: relative;
	top: -1px;
	font-weight: bold;
}

.edd-checkout .swp-is-loading {
	input:not([type='submit']),
	textarea,
	select,
	.form-file-dropzone,
	#edd-stripe-card-element,
	#edd_checkout_wrap fieldset {
		transition: all ease 0.2s;
		opacity: 0.5;

		&:hover {
			cursor: pointer;
		}
	}
}

// Order confirm page
.page-id-30 {
	main {
		margin-top: 0;
	}

	table {
		display: block;
		padding: 10px 10px;
		background: white;
		border: 1px solid #dad9d9;
		font-size: 18px;
	}

	thead,
	tbody,
	tr {
		display: block;
		width: 100%;
	}

	tbody tr:last-child {
		border: none;
	}

	tr {
		border-color: #dad9d9;
	}

	th,
	td {
		padding: 5px;
	}

	tbody tr:first-of-type td {
		padding-top: 0;
	}

	thead tr th:first-of-type,
	tbody tr td:first-of-type {
		min-width: 240px;
	}

	#edd_checkout_cart_form {
		padding-top: 70px;
		position: static;
		box-shadow: none;
	}

	#edd_purchase_receipt_products {
		margin-bottom: 200px;
	}
}

.order-total-row {
	border: none;
	background: #f7f7f7;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.order-cta {
	.link {
		margin-left: 10px;
		font-size: 16px;
		position: relative;
		top: 1px;
	}
}

.order-next {
	margin-bottom: 50px;
}

.order-next-label {
	margin-bottom: 0px;
}

.order-confirm-col {
	font-size: 18px;
}

#edd_purchase_form_wrap {
	order: 4;
	margin-top: 30px;

	#edd_checkout_login_register {
		display: none;
	}

	.edd-loading-ajax {
		&:after {
			content: '';
			display: block;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 200 200" viewBox="0 0 200 200"><path d="M122.8 21.9c35.4 10.2 61.8 45.8 56.2 87.2-5.3 39.2-39.8 69.7-80.4 68.9-40.9-.8-73-32.3-77.7-69.2-5.6-44.4 24.2-78 56.2-86.8 1 3.1 1.9 6.3 2.9 9.4.7 2.2 1.2 4.5 2 6.7.7 2 .1 2.9-1.8 3.5-6.9 2.2-13 5.8-18.6 10.5C51.9 60.4 45.1 70.5 42 83c-4.2 16.9-2.1 33 7.4 47.7 9.8 15.1 23.7 24.1 41.7 26.8 13.7 2 26.6-.1 38.5-7 18.1-10.4 28.2-26.2 30-47 1.5-16.8-3.3-31.7-14.4-44.5-6.9-8-15.2-13.8-25.2-17.3-1.1-.4-2.7-.4-2.2-2.3 1.6-5.8 3.3-11.6 5-17.5z" style="fill:%23000"/></svg>');
			width: 50px;
			height: 50px;
			background-size: contain;
			animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			position: relative;
			left: calc(50% - 25px);
		}
	}

	#edd_purchase_submit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		background: transparent;
		padding: 0;
	}
}

#edd-purchase-button + .edd-loading-ajax {
	position: relative;
	top: -55px;
	right: -104px;
	filter: invert(1);

	&:after {
		width: 30px;
		height: 30px;
		top: 10px;
	}
}

.edd-checkout {
	background-color: #f2f2f2;
	color: vars.$primary;

	td,
	th,
	legend,
	a,
	label,
	p,
	h1,
	h2,
	h3 {
		color: vars.$primary;
		font-family: 'Source Sans Pro', sans-serif;
	}

	fieldset {
		legend {
			font-size: 24px;
			margin: 0;
			position: absolute;
			top: -50px;
			background: transparent;
			left: -20px;
		}
	}

	.btn,
	.edd-submit,
	input[type='submit'] {
		background-color: vars.$primary;
		transition: none;
		color: white;

		&:hover {
			background-color: vars.$primary;
			color: #959595;
		}
	}

	input:not([type='submit']),
	textarea,
	select,
	.form-file-dropzone {
		background-color: white;
		font-size: 18px;
		color: vars.$primary;
	}

	.edd-alert-error,
	.edd_errors,
	.edd_error,
	label.error {
		color: #e61e1e;
		font-size: 16px;
	}

	main {
		margin-top: 0;
	}

	.logo {
		margin-top: -7px;
		display: inline-block;

		circle + path {
			fill: white;
		}

		circle,
		circle + path + path {
			fill: #000;
		}
	}
}

.page .wp-block-edd-login__lostpassword {
	#edd-blocks-form__lost-password {
		margin-top: 20px;
	}
	.message {
		font-size: 20px;
	}
}
.theme-light {
	input,
	textarea,
	select,
	.form-file-dropzone {
		background: white;
		color: vars.$primary;

		svg {
			path {
				fill: #d8d8d8;
			}
		}

		p {
			color: #979797;
		}

		&:disabled {
			background-color: #e4e4e4;
			box-shadow: none;
			border-color: #b5b5b5;
			color: #929292;

			&:hover {
				background-color: #e4e4e4;
				box-shadow: none;
				border-color: #b5b5b5;
				color: #929292;
			}
		}
	}

	#edd-blocks-form__login,
	#edd-blocks-form__lost-password {
		padding: 20px;
	}

	.edd-alert-error,
	.edd_errors,
	label.error {
		background: transparent;
		color: #dd2626;
	}

	.page .edd-blocks-form {
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.08);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
	}
}

@media (max-width: 1700px) {
	#edd_checkout_cart_form {
		width: 425px;
		//margin-right: 11vw;
	}

	#edd_checkout_form_wrap {
		padding-left: 11vw;
	}
}
@media (max-width: 1500px) {
	.component-syncing {
		.screen {
			max-width: 100%;
		}
	}
}

@media (max-width: 1400px) {
	#footer .version {
		margin: 0 10px 0 30px;
	}

	#edd_checkout_cart_form {
		width: 400px;
		margin-right: 9vw;
	}

	.footer-newsletter {
		margin-bottom: 50px;
	}

	.single-post .footer-branding .footer-newsletter {
		display: none;
	}

	.footer-misc {
		padding: 0;
	}

	.footer-social {
		> a:first-of-type {
			margin-left: 0;
		}
	}

	.footer-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		+ .footer-section {
			margin-top: 50px;
		}
	}

	.footer-branding {
		justify-content: center;
	}

	.page-id-30 {
		.shopwp-checkout-inner {
			background: white;
			flex-direction: column-reverse;
			margin-bottom: 0;

			#edd_checkout_cart_form {
				margin: 30px auto;
				padding-top: 0;
				background: none;
			}
		}

		#edd_purchase_receipt_products {
			margin-bottom: 0;
		}

		#edd_checkout_form_wrap {
			margin: 20px auto 0 auto;
			padding: 20px;
			border-color: #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
			border-radius: 10px;
			border-top: 1px solid #e0e0e0;
			border-left: 1px solid #e0e0e0;

			.logo {
				display: flex;
				justify-content: center;
			}

			.order-top {
				max-width: 600px;
				padding: 0;
				margin: 40px auto 50px auto;
			}

			.order-cta {
				flex-direction: column;
				align-items: center;
			}

			.checkout-heading {
				text-align: center;

				svg {
					position: relative;
					top: 3px;
					left: 0;
					width: 30px;
					height: 30px;
					display: inline;
				}
			}
		}

		.shopwp-checkout-inner {
			background: white;
			flex-direction: column-reverse;
			margin-bottom: 0;

			#edd_checkout_cart_form {
				margin: 30px auto;
				padding-top: 0;
				background: none;
			}
		}

		#edd_purchase_receipt_products {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1200px) {
	.video-wrap {
		padding-left: 0;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	#edd_checkout_cart {
		margin: 0;
	}

	.edd-checkout .edd_cart_footer_row_perks {
		display: none;

		li {
			display: none;
		}
	}
	.component {
		margin-bottom: 120px;
	}

	.edd_cart_discount {
		background-color: #f1f1f1;
	}

	.component-release {
		p {
			font-size: 22px;
		}
	}

	.component-syncing.component,
	.component-buy-buttons.component {
		margin: 70px auto 120px auto;
	}

	.theme-light .component-buy-buttons.component {
		margin-top: 10px;
	}

	.component-syncing {
		.shape {
			top: 0;
		}

		svg path {
			fill: vars.$complementary;
		}
	}

	.page-id-161 main {
		margin-top: 120px;
	}

	#edd_checkout_wrap fieldset {
		padding-bottom: 15px;
	}

	#header {
		height: 76px;

		> .l-row {
			height: 100%;
			padding: 0;
		}
	}

	.l-row.checkout-logos {
		flex-direction: row;
		margin-bottom: 10px;

		> svg:nth-of-type(1) {
			position: relative;
			top: -2px;
		}
	}

	.edd_cart_total {
		border-top: 0;
	}

	.l-row.purchase-after {
		flex-direction: row;
		justify-content: center;
	}

	#edd_purchase_form {
		margin-top: 40px;
		padding-bottom: 15px;

		fieldset > p {
			margin-bottom: 10px;
		}
	}

	.marquee-content {
		flex-direction: column-reverse;
	}

	.marquee-buttons {
		padding: 0;
		justify-content: center;

		.desktop {
			display: none;
		}
		.mobile {
			display: inline;
		}
	}

	.shape {
		top: 75vh;
		left: 68px;
	}

	.icon-mobile {
		opacity: 1;
		visibility: visible;
	}

	.icon-mobile-close {
		opacity: 0;
		visibility: hidden;
	}

	.nav-wrap {
		display: none;
	}

	.marquee-demo {
		margin: 70px auto 0 auto;
	}

	.marquee-demo-inner {
		margin: 0 auto;
		box-shadow: 0 0 0 1px #2a2a5c;
	}

	.component-marquee {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 0;

		svg {
			margin: 0 auto -35px auto;
			position: static;
		}

		h1,
		p {
			text-align: center;
		}
	}

	.page-id-29 {
		#edd_checkout_form_wrap {
			padding: 50px 30px 170px 30px;
		}
	}

	.logo svg {
		margin: 0 auto;
	}

	.edd_cart_item_name .eddr-cart-item-notice {
		padding: 0;
		text-align: left;
		background: none;
		border: none;
		font-style: italic;
		padding-left: 4px;
		margin-top: -5px;
		display: none;
	}

	.login-stuff {
		text-align: center;
		position: static;
		position: relative;
		top: -70px;
		right: 0;
	}

	.shopwp-checkout-inner {
		flex-direction: column-reverse;
	}

	#edd_checkout_cart_form {
		width: 100%;
		margin: 0;
		padding: 0 10px;
		position: fixed;
		z-index: 9999;
		background: #f2f2f2;
		bottom: 0;
		top: auto;
	}

	.checkout-footer {
		margin-bottom: 80px;

		p {
			font-size: 14px;
		}
	}

	.edd_checkout_cart_item_title {
		font-size: 16px;
	}

	.edd_cart_actions,
	.edd_cart_item_price {
		text-align: right;
	}

	.edd_cart_total {
		font-size: 20px;
	}

	#edd_cc_address {
		legend {
			margin-bottom: 0;
		}
	}

	#edd-payment-mode-wrap {
		> label {
			min-width: 0;
			padding: 0px 10px;
			height: 40px;
		}
	}

	#edd_checkout_wrap {
		fieldset legend {
			font-size: 20px;
			display: block;
			width: 100%;
		}

		.edd_cart_item {
			display: flex;
			border: none;
		}

		.checkout-logged-in-as,
		.edd_form label {
			font-size: 16px;
		}
	}

	.checkout-logged-in-as {
		text-align: right;
		margin: 0;
	}

	.component-support {
		> .l-contain {
			.l-row {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}

		.support-links {
			.l-row {
				justify-content: flex-start;
				align-items: flex-start;
			}
		}
	}

	.support-triage {
		margin: 0 auto;
	}

	.support-hours {
		margin: 0 auto 20px auto;
	}

	.support-ticket {
		.label-text {
			text-align: left;
		}

		.l-box-2 {
			flex: 0 0 100%;
			width: 100%;
			max-width: 100%;
		}
	}

	.support-description {
		text-align: left;
	}

	main {
		margin-top: 110px;
	}

	.component-blog {
		width: 100%;

		li {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;

			small {
				text-align: center;
				span {
					display: none;
				}
			}
		}

		.list-simple {
			padding: 0;
		}
	}
}

@media (max-width: 900px) {
	.nav-list.l-row {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 800px) {
	#footer .version {
		margin: 20px 0;
	}

	.footer-bottom {
		margin-top: -20px;
	}

	#edd-purchase-button + .edd-loading-ajax {
		top: -50px;
		right: -90px;
	}

	.card .extension-notes,
	.card .extension-notes p,
	.card .extension-terms,
	.card .extension-terms p {
		font-size: 16px;
		text-align: left;
	}

	.extension-purchase-inner {
		margin: 0 auto;
		padding: 5px;
	}

	#footer {
		margin-top: 0;
	}

	.component-blog {
		li {
			align-items: flex-start;

			small {
				text-align: left;
			}
		}
	}

	.extension-button.l-row {
		flex-direction: row;
	}

	.extension-selection-icon {
		&:before {
			left: 0;
		}
	}

	.extension-single {
		margin-top: 20px;
		padding-top: 0px;
		border: none;

		.extension-purchase {
			width: 90%;
			margin: 0 0 40px 0;
			padding: 0;
			justify-content: center;
			display: flex;
		}

		.extension-breadcrumbs,
		.extension-content-inner {
			text-align: left;

			img {
				max-width: 100%;
			}
		}

		.extension-content {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}

	.support-hours,
	.support-triage,
	.support-common {
		max-width: 100%;
		width: 100%;
		margin-left: 0;
	}

	.support-status-wrapper {
		margin-top: 20px;
	}

	.support-common h2 {
		font-size: 28px;
	}

	.support-hours {
		padding: 10px;
		margin-bottom: 50px;

		b {
			display: block;
		}

		svg {
			position: static;
			margin: 0 auto 10px auto;
			top: 0;
			left: 0;
			display: none;
		}
	}

	.component.component-about {
		display: flex;
		flex-direction: column-reverse;
	}

	.about-img {
		opacity: 1;
		margin-top: 20px;
	}

	.about-heading {
		padding: 20px 0;
		top: 0;
		margin: 0 auto;

		+ .l-contain-s {
			text-align: left;
		}
	}

	.edd_cart_footer_row_perks {
		p {
			font-size: 15px;
			margin-left: 7px;
			top: 1px;
		}

		svg {
			display: none;
		}
	}
	.footer-branding,
	.marquee-demo,
	.marquee-text,
	.footer-nav,
	.footer-nav-col {
		width: 100%;
	}

	.footer-newsletter {
		margin-left: 0;
		background: vars.$cardBackground;
		max-width: 540px;
		width: 100%;
		margin: 0 auto;
	}

	.footer-branding {
		margin-bottom: 50px;
	}

	.footer-nav-col {
		margin: 10px 0 0 0;

		a {
			margin: 0;
			padding: 10px;
		}
	}

	.card-link {
		font-size: 18px;
	}

	.edd_discount .edd_discount_remove,
	.edd_discount {
		font-size: 14px;
	}

	.edd_discount .edd_discount_remove {
		position: relative;
		margin-left: 20px;
	}

	#edd_secure_site_wrapper {
		padding: 0;
		font-size: 14px;

		.padlock {
			margin-top: -2px;
		}
	}

	h2 {
		font-size: 32px;
	}

	.nav-main {
		width: 100%;
		min-width: 300px;
	}

	.extension-notes,
	.nav-equal .nav-link,
	.nav-item {
		width: 100%;
		display: block;
		text-align: left;
	}

	.content {
		text-align: center;

		p {
			font-size: 20px;
		}

		h2 {
			font-size: 24px;
		}
	}

	.nav-link-desc {
		font-size: 20px;
	}

	.l-row {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;

		&.l-row-m-center {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
		}
	}

	.component-about .l-row.l-sb,
	.footer-section.l-row {
		flex-direction: column;
		padding: 0;
	}

	.l-row.footer-social,
	.l-row.newsletter-wrapper {
		flex-direction: row;
	}

	.plans {
		flex-direction: column;
		margin-top: 50px;

		.stars {
			top: 2px;
			left: -43px;
		}
	}

	.testimonial-contact {
		margin-left: 0;
	}

	.l-box-2,
	.l-box-3 {
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}

	.edd_cart_footer_row_perks li,
	#header > .l-row {
		flex-direction: row;
	}

	.component-buy-buttons [data-wpshopify-component] {
		margin: 0 auto !important;
	}

	.l-contain-s {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}

	.buy-button-wrapper {
		width: 100%;

		margin-bottom: 40px;
		> p {
			left: 0;
			text-align: center;
		}
	}

	.component-release {
		b {
			margin-right: 5px;
		}

		p {
			padding: 15px 0;
			font-size: 20px;
			line-height: 1.4;
		}

		svg {
			display: none;
		}

		a svg {
			top: 3px;
			left: 10px;
			width: 15px;
			height: 15px;
		}
	}

	.shape {
		display: none;
	}

	.component-syncing {
		margin: 150px 0 80px 0;
		svg {
			top: -70px;
			left: 47%;
			transform: rotate(-40deg);
		}

		.screen {
			max-width: 90%;
			margin: 30px auto 0 auto;
		}

		iframe {
			margin-bottom: 40px;
			margin-top: -40px;
		}
	}

	.component-changelog h3,
	.component-changelog li,
	.wps-products-title,
	.wpshopify-variant-buttons-group,
	.wpshopify-variant-buttons-group label,
	.wpshopify-variant-buttons-group p,
	.single-post .content p,
	.single-post .content blockquote,
	.single-post .content li,
	.editor-styles-wrapper,
	.entry-content {
		text-align: left;
	}

	.single-post .content ul,
	.single-post .content ol {
		padding-left: 15px;
		padding-right: 0;
		margin-top: 0px;

		li {
			margin-bottom: 20px;
		}
	}

	.component-changelog li {
		margin-bottom: 15px;
	}

	.wpshopify-products-variant-buttons .wpshopify-variant-buttons-group p {
		font-size: 16px;
	}

	.icon-stars {
		margin: 0 auto 20px auto;
	}

	.screenshots img {
		max-width: 100%;
		margin: 0 auto;
	}

	.wps-items.wps-items-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.wps-item {
			max-width: 385px;
		}
	}

	.component-buy-buttons {
		.wps-item {
			box-shadow: 0 0 0 1px #2a2a5c;
			margin: 0;
			width: 100%;
		}

		&.component {
			margin-bottom: 80px;
			margin-top: 50px;
		}
	}

	.component-marquee {
		h1 {
			font-size: 60px;
		}

		p {
			font-size: 22px;
		}
	}

	.wps-product-options [class*='ClearSelections'] {
		font-size: 14px;
	}

	.marquee-buttons {
		flex-direction: column-reverse;

		> span {
			margin: 24px;
		}
	}

	.marquee-demo {
		margin: 10px auto 0 auto;
	}

	.marquee-demo .wps-items-wrapper {
		padding: 0;
	}

	#edd_checkout_wrap .btn-l,
	#edd_checkout_wrap #edd-purchase-button,
	#edd_checkout_wrap input[type='submit'] {
		font-size: 20px;
	}

	.wps-component-products-options [class*='DropdownLabel'],
	.faq-answer *,
	.faq-question.l-row,
	.plan-features > p,
	.tooltip-label p,
	.faqs-heading {
		text-align: left;
	}

	.faq-answer {
		padding-right: 15px;
	}

	.page-id-239215 {
		main {
			margin-top: 80px;
		}
	}

	.single-post .content p {
		margin-bottom: 15px;
	}

	.footer-author.l-row {
		padding-top: 30px;
		flex-direction: row;

		.footer-author-info {
			p {
				margin-bottom: 0;
			}
		}
	}

	.single-post .post {
		margin-bottom: 50px;

		.post-author,
		.post-date {
			margin-bottom: 0;
		}
	}

	.single-post .content .post-footer {
		padding: 20px;
	}

	.single-post .content .post-footer .mail-heading {
		font-size: 18px;
		text-align: left;
	}

	#shopwp-storefront-sorting,
	#shopwp-storefront-page-size,
	.single-post .content .footer-newsletter {
		width: 100%;
		padding: 0;

		> div {
			margin-top: 10px;
			position: relative;
			width: 100%;
		}
	}

	.component-testimonials + .component-features-list {
		margin-top: 0px;
	}

	.l-row.features-demo-selector {
		flex-direction: row;
	}

	.swp-l-row[class*='PaginationButtonsCSS'] {
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
		margin: 0;
	}

	#shopwp-storefront-page-size {
		margin-left: 24px;
	}

	.features-demo-content {
		.screen[data-is-selected='true'] {
			display: flex;
			flex-direction: column;
		}
	}

	.page-id-30 {
		.order-top {
			left: 0;
			padding: 0;
		}

		.checkout-heading {
			text-align: center;
			margin-bottom: 15px;

			svg {
				position: relative;
				top: 7px;
				left: 0;
				width: 30px;
				height: 30px;
				display: inline;
			}
		}

		#edd_subscription_receipt thead {
			display: none;
		}

		#edd_checkout_form_wrap {
			width: 100%;
			max-width: 100%;
			border: none;
			margin: 0;
			min-height: 0;

			.order-cta .btn-s {
				margin-top: 10px;
			}
		}

		#edd_checkout_cart_form {
			width: 100%;
			max-width: 100%;
		}

		.order-next + iframe {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.edd-checkout .logo {
		margin: 0 auto;
		display: block;
	}

	#edd_purchase_form {
		margin-top: 100px;
	}

	.login-stuff {
		right: 0;
		position: relative;
		top: -70px;
	}

	.checkout-logged-in-as {
		text-align: center;
	}

	.page-id-29 #edd_checkout_form_wrap {
		padding-top: 15px;
	}

	#edd_checkout_form_wrap .edd-stripe-update-billing-address-wrapper {
		left: 0;
	}

	.shopwp-selling-group-content {
		[class*='SellingGroupLabelCSS'] {
			flex-direction: row;

			input[type='radio'] {
				position: absolute;
			}
		}
	}

	.list-annotations {
		.l-row {
			flex-direction: column;
		}

		dd {
			margin-left: 0;
		}

		dt {
			margin-bottom: 10px;
		}
	}

	.shopwp-selling-group-content [class*='SaveInlineCSS'] {
		font-size: 13px;
		left: 3px;
		top: 3px;
	}

	.component-generic,
	.extension-single .extension-content {
		padding: 0 20px;
	}

	.l-contain-xs {
		width: 100%;
	}

	.l-contain {
		padding: 0;
	}

	.content {
		padding: 0 20px;
	}

	.support-common {
		> svg {
			display: none;
		}
	}

	.page figcaption,
	.single figcaption {
		margin-top: -10px;
		font-size: 16px;
	}

	.wps-items.wps-items-list .wps-item {
		max-width: 100%;
	}

	.component-marquee {
		padding-top: 0;
	}
}

@media (max-width: 500px) {
	#edd_checkout_form_wrap .edd-card-selector-radio label {
		padding-left: 10px;
	}

	.wps-thumbnails-wrapper .swp-product-thumbnail {
		width: 50px;
	}

	.screen {
		.l-col.l-box-3 {
			margin-bottom: 40px;
		}
	}

	html,
	body,
	p {
		font-size: 16px;
	}

	#shopwp-storefront-sorting,
	#shopwp-storefront-page-size {
		button {
			min-width: 0;
		}
	}

	.post-author-img-wrapper {
		margin-bottom: 10px;
	}

	.l-row.features-demo-selector {
		flex-direction: column;
	}

	.features-demo-selector label {
		font-size: 18px;
		margin-bottom: 5px;
		font-weight: bold;
	}

	.page figcaption,
	.single figcaption {
		margin-top: -5px;
	}

	.single-post .content {
		text-align: center;

		li,
		p {
			font-size: 18px;
		}

		h2 {
			font-size: 20px;
		}
	}

	.support-ticket {
		margin-top: 50px;
	}

	.component.component-slack {
		margin-top: 0;
	}

	main {
		min-height: 0;
	}

	.page-id-161 main,
	main {
		margin-top: 100px;
	}

	.how-image img {
		border-top-right-radius: 110px;
	}

	.faq-answer {
		font-size: 16px;
	}

	.faq-question {
		font-size: 18px;
	}

	.extension-name {
		font-size: 20px;
	}

	.extension-inner {
		padding: 20px 0px;
	}

	.faq-question {
		padding-right: 40px;
	}

	.plan-features {
		max-width: 300px;
		display: block;
		margin: 20px auto 10px auto;

		> p {
			padding-top: 20px;
		}
	}

	.plan-price {
		font-size: 30px;
	}

	.component-release {
		b {
			display: block;
		}
	}

	#edd_secure_site_wrapper,
	.plans .stars,
	.buy-button-wrapper .shopwp-selling-group-content + div label {
		display: none;
	}

	.footer-section {
		padding: 0;
	}

	.newsletter-wrapper {
		flex-direction: column;

		input {
			min-height: 45px;
		}
	}

	.footer-copyright {
		margin-top: 10px;
	}

	.plan-feat,
	.card,
	.marquee-demo-inner {
		width: 100%;
	}

	.edd_cart_remove_item_btn,
	.edd_checkout_cart_item_title {
		font-weight: normal;
		font-size: 14px;
	}

	.l-row {
		width: 100%;
	}

	.component {
		margin-bottom: 70px;
	}

	.footer-branding svg {
		margin: 0 auto 0 auto;
	}

	.footer-newsletter {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		width: 93%;

		> p {
			text-align: left;
		}

		.btn-secondary {
			margin-top: 0;
			margin-right: auto;
		}
	}

	.footer-social-link svg {
		width: 45px;
	}

	.footer-social-link [data-icon='twitter'],
	.footer-social-link [data-icon='github'] {
		width: 33px;
	}

	.footer-nav-col {
		width: calc(100% - 50px);
		margin-bottom: 20px;

		> p {
			padding-bottom: 5px;
			margin-bottom: 5px;
			font-size: 18px;
			border: none;
		}

		a {
			margin: 0;
		}
	}

	.footer-logo-byline {
		margin: 10px auto 0 auto;
	}

	.card {
		margin: 0 0 20px 0;
		padding: 0.6em;

		p {
			font-size: 18px;
			text-align: left;
		}
	}

	.plan-short-description {
		p {
			text-align: center;
		}
	}

	.footer-social {
		flex-direction: row;
		justify-content: center;
	}

	.card-link > a {
		padding: 15px 10px 10px 10px;
	}

	.component-features-list h3 {
		font-size: 18px;
	}

	.edd_cart_total {
		text-align: center;
	}

	h2 {
		font-size: 24px;
	}

	.mobile-menu-list a {
		font-size: 34px;
	}

	.component-marquee h1 {
		font-size: 52px;
	}

	h1 {
		font-size: 28px;
	}

	.component-buy-buttons [data-wpshopify-component] {
		width: 100% !important;
		max-width: 100% !important;
	}

	#edd_checkout_wrap {
		#edd-first-name-wrap,
		#edd-last-name-wrap,
		#edd-card-address-wrap,
		#edd-card-address-2-wrap,
		#edd-card-city-wrap,
		#edd-card-zip-wrap,
		#edd-card-country-wrap,
		#edd-card-state-wrap {
			width: 100%;
		}

		#edd_checkout_form_wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		#edd_checkout_cart .edd_cart_item {
			border-bottom: 1px solid #c8c8c8;
			justify-content: space-between;
		}

		td {
			display: block;
		}

		.edd_cart_actions,
		.edd_cart_item_price {
			text-align: left;
			font-size: 14px;
		}

		fieldset {
			padding: 0;
			border: none;
		}

		.edd-apply-discount[type='submit'] {
			font-size: 18px;
		}

		.btn-l,
		#edd-purchase-button,
		input[type='submit'] {
			font-size: 20px;
		}

		.logo svg {
			margin: 0 auto;
		}

		.checkout-logged-in-as {
			text-align: center;
		}
	}
}
