.list-annotations {
	max-width: 600px;
	margin: 30px auto 50px auto;
	list-style: none;

	li {
		margin-bottom: 20px;
	}
	dt {
		width: 30px;
		height: 30px;
		background: pink;
		border-radius: 50%;
		background: #ee3caa;
		text-align: center;
		font-size: 20px;
		font-weight: bold;

		a {
			font-size: 24px;
			font-weight: bold;
		}
	}

	dd {
		flex: 1;
		margin-left: 15px;
		font-size: 19px;
		margin-top: -3px;
	}

	+ iframe {
		margin: 0 auto;
		display: block;
	}
}

.theme-light {
	.list-annotations dt {
		color: white;
		line-height: 1.4;
	}
}
