.footer {
   text-align: center;
   font-size: $font-s;
   margin-top: 0;
   // background: color(base);
   // background: color(base);
   // background: linear-gradient(180deg, #12062a 0%, #180b37 100%);

   @include device(800, 'max') {
   }
}

#menu-footer {
   padding-left: 10vw;
   margin-top: 2em;
}

.footer-wrapper {
   padding: $space-xxl * 2 0 0 0;
   position: relative;
   margin: 0;
   color: color(base);
   margin: 0;
   color: color(base);

   .footer-link {
      color: color(base);
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      padding: 2em 4em 2em 2em;
      position: relative;
      top: -6px;

      &:hover {
         opacity: 1;
         text-decoration: underline;
      }
   }

   .menu-item {
      width: 33%;
      a {
         color: color(base);
         width: 100%;
         display: block;
         text-align: left;
         font-weight: bold;
         font-size: 15px;
      }
   }
}

.footer-social-link {
   font-size: $font-xxxl;
   padding: 0 $space-xxxs;
   text-decoration: none;
   border: none;
   color: color(base);

   &:hover {
      @include dim($opacity-soft);
   }
}

.footer-attr {
   margin-top: $space-l;
   // text-transform: uppercase;
   padding: 20px;
   background-color: white;
   color: color(base);
}

.footer-social-links {
   position: relative;
   margin-top: $space-xxl * 2;

   // &:before {
   //   content: '';
   //   width: 160px;
   //   height: 60px;
   //   bottom: 45px;
   //   left: calc(50% - 80px);
   //   position: absolute;
   //   background: url('imgs/wave-shape.svg');
   //   background-size: contain;
   //   background-position: 50% 50%;
   //   opacity: 0.2;
   // }

   &:before {
      bottom: 35px;
      position: relative;
      content: '';
      margin: $space-l auto 0 auto;
      display: block;
      height: 1px;
      width: 100px;
      background-color: color(white);
      opacity: 0.3;
   }
}
