.footer {
  text-align: center;
  font-size: $font-s;
  margin-top: 0;
  position: relative;
  .logo-header {
    height: 35px;
  }
}

.nav-footer {
  max-width: 1050px;
}

#menu-footer {
  padding-left: 6vw;
  margin-top: 2em;
}

.footer-wrapper {
  padding: 2.1em 0 0 0;
  position: relative;
  margin: 0;
  color: color(base);

  @include device(1000, 'max') {
    padding: 4.1em 0 0 0;
  }

  .footer-link {
    color: color(base);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding: 2em 4em 2em 2em;
    position: relative;
    top: -5px;

    &.footer-free-trial {
      transform: translateY(0);
      display: inline-block;
      margin: 0;

      @include device(500, 'max') {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .menu-item {
    width: 25%;

    @include device(800, 'max') {
      width: 100%;
    }

    a {
      color: color(base);
      width: 100%;
      display: block;
      text-align: left;
      font-weight: bold;
      font-size: 13px;
    }
  }
}

.footer-social-link {
  font-size: 1.7em;
  color: #b4b4b4;
  padding: 0 $space-xxxs;
  text-decoration: none;
  border: none;

  &:hover {
    @include dim($opacity-soft);
  }
}

.footer-attr {
  margin-top: $space-l;
  padding: 20px;
  background-color: white;
  color: color(base);
}

.footer-social-links {
  position: relative;
  margin-top: 3.1472em;

  @include device(500, 'max') {
    display: flex;
    flex-direction: column;
  }

  &:before {
    bottom: 35px;
    position: relative;
    content: '';
    margin: $space-l auto 0 auto;
    display: block;
    height: 1px;
    width: 100px;
    background-color: color(white);
    opacity: 0.3;
  }
}
