//
// Grid, nice n simple
//
.l-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.l-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}


[class*="l-box"] {
  margin: 0;
  max-width: 100%;
  min-width: 0;
  min-height: 1px;
  padding: $gutter;

  @include device(320, 'max') {
    // padding: 2em;
  }
}

.l-contain {
  // width: $container-width;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;

  @include device(1400, 'max') {
    max-width: $container-width;
  }

  @include device(800, 'max') {
    max-width: 95vw;
  }

}

.l-contain-narrow {
  max-width: $container-width-narrow;
  margin: 0 auto;

  @include device(1500, 'max') {
    max-width: 680px;
  }

  @include device(900, 'max') {
    max-width: 95vw;
  }

  @include device(700, 'max') {
    padding-left: 0;
    padding-right: 0;
  }
}


.wrap.l-contain-narrow {
  width: 100%;
  max-width: $container-width-narrow;
  margin: 0 auto;

  @include device(1500, 'max') {
    max-width: 680px;
  }

  @include device(1000, 'max') {
    max-width: 700px;
  }

  @include device(600, 'max') {
    max-width: 100%;
    // padding-left: 0;
    // padding-right: 0;
  }
}


.l-gutter {
  padding: 0 $space-m;
}


/*

Columns (as a proportion)
E.g., 2 === one half, 3 === one third, 4 === one fourth, etc

*/
.l-box-2 {
  @include row($cols-2);

  @include device(600, 'max') {
    @include row($cols-1);
  }
}

.l-box-3 {
  @include row($cols-3);

  @include device(900, 'max') {
    @include row($cols-2);
  }

  @include device(600, 'max') {
    @include row($cols-1);
  }
}

.l-box-4 {
  @include row($cols-4);

  @include device(800, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-5 {
  @include row($cols-5);

  @include device(800, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-6 {
  @include row($cols-6);

  @include device(1000, 'max') {
    @include row($cols-4);
  }

  @include device(800, 'max') {
    @include row($cols-3);
  }

  @include device(700, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-7 {
  @include row($cols-7);

  @include device(1100, 'max') {
    @include row($cols-5);
  }

  @include device(900, 'max') {
    @include row($cols-4);
  }

  @include device(700, 'max') {
    @include row($cols-3);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-8 {
  @include row($cols-8);

  @include device(1100, 'max') {
    @include row($cols-5);
  }

  @include device(900, 'max') {
    @include row($cols-4);
  }

  @include device(700, 'max') {
    @include row($cols-3);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-9 {
  @include row($cols-9);

  @include device(1100, 'max') {
    @include row($cols-8);
  }

  @include device(900, 'max') {
    @include row($cols-4);
  }

  @include device(700, 'max') {
    @include row($cols-3);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-10 {
  @include row($cols-10);

  @include device(1100, 'max') {
    @include row($cols-8);
  }

  @include device(900, 'max') {
    @include row($cols-4);
  }

  @include device(700, 'max') {
    @include row($cols-3);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-11 {
  @include row($cols-11);

  @include device(1100, 'max') {
    @include row($cols-9);
  }

  @include device(900, 'max') {
    @include row($cols-7);
  }

  @include device(700, 'max') {
    @include row($cols-5);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}

.l-box-12 {
  @include row($cols-12);

  @include device(1300, 'max') {
    @include row($cols-10);
  }

  @include device(900, 'max') {
    @include row($cols-8);
  }

  @include device(700, 'max') {
    @include row($cols-4);
  }

  @include device(600, 'max') {
    @include row($cols-2);
  }

  @include device(500, 'max') {
    @include row($cols-1);
  }
}


//
// Col alignment
//
.l-col-reverse {
  flex-direction: column-reverse;
}

.l-col-center {
  align-items: center;
}

.l-col-right {
  align-items: flex-end;
}

.l-col-left {
  align-items: flex-start;
}


//
// Ordering
//
.l-order-1 {
  order: 1;
}

.l-order-2 {
  order: 2;
}

.l-order-3 {
  order: 3;
}

.l-order-4 {
  order: 4;
}

.l-order-5 {
  order: 5;
}

.l-order-6 {
  order: 6;
}

.l-order-7 {
  order: 7;
}


//
// Row aignment
//
.l-row-left {
  justify-content: flex-start;
}

.l-row-right {
  justify-content: flex-end;
}

.l-row-center {
  justify-content: center;
  margin: 0 auto;
}

.l-row-justify {
  justify-content: space-between;
}

.l-row-spaced {
  justify-content: space-around;
}

.l-row-reverse {
  flex-direction: row-reverse;
}


//
// Spacing
//
.l-fit {
  flex-grow: 1;
}

.l-fill {
  flex: 1;
  min-width: 0;
}

.l-contained {
  flex: none;
}

.l-narrow {
  max-width: 650px;
}
