.header {
  margin: 0 0 $space-xl 0;
  padding: $space-m 0 $space-m 0;
  // background: color(white);
  // box-shadow: 0 18px 17px -23px rgba(0,0,0,.2);

  // @include shadow();

  .btn {
    margin-top: 0;
  }

  .btn-account {
    margin-left: 2em;
  }

}

.meta-wrapper {
  border-bottom: 1px solid color(medium-grey);
  padding-bottom: $space-s;

  time,
  .byline {
    width: auto;
    margin: 0;
  }

  time {
    margin-right: $space-xs;
  }

}

.icon-mobile {
  display: none;
  height: 25px;
  position: absolute;
  top: -8px;
  right: 0;
  z-index: 9999;

  &:hover {
    cursor: pointer;
  }

}

.pace .pace-activity {

  @include device(700, 'max') {
    right: 90px;
  }

  @include device(500, 'max') {
    right: 60px;
  }

}


.header-content {
  position: relative;

  @include device(1300, 'max') {
    padding-right: $space-l*3;

    .icon-mobile {
      display: block;
    }

  }

  @include device(700, 'max') {
    .header-account {
      display: none;
    }
  }

}

.header-social-link {
  color: color(base);
  margin: 0 10px;
  font-size: 22px;
}

.page-header {
  // margin-top: $space-xl;
  position: relative;
  margin: $space-xl 0 $space-m 0;
  padding-bottom: $space-s;
  text-align: center;

  &:after {
    content: '';
    margin: $space-l auto 0 auto;
    display: block;
    height: 1px;
    width: 100px;
    background-color: color(medium-grey);
  }

  // &:after {
  //   content: '';
  //   width: 160px;
  //   height: 60px;
  //   bottom: -15px;
  //   left: calc(50% - 80px);
  //   position: absolute;
  //   background: url('../../imgs/wave-shape-dark.svg');
  //   opacity: $opacity-hard;
  // }


  .has-icon {
    margin-left: -$space-xs;
  }

  .icon-small {
    width: 35px;
    height: 35px;
    position: relative;
    top: 3px;
    left: -2px;
  }

}

.flexboxtweener .logos {
  display: none;
}

.logo-shopify {
  max-width: 110px;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-left: 1em;
  opacity: $opacity-hard;

  @include device(500, 'max') {
    max-width: 86px;
  }
}

.logo-wordpress {
  max-width: 155px;
  margin-left: auto;
  margin-right: 1em;
  display: block;
  opacity: $opacity-hard;
  position: relative;
  top: 3px;

  @include device(500, 'max') {
    max-width: 130px;
  }
}

.flexboxtweener {
  .marquee {
    left: 50px;
  }
}

.marquee-wrapper {
  margin-top: 0;
}

.logo-header {
  width: auto;
  height: 50px;
  position: relative;
  top: 3px;
}

.logo-link {
  border: none;
  position: relative;
  top: 5px;

  &:hover {
    opacity: 1;
  }

}

.logo-header-auth {
  margin: $space-xxl 0;
  width: 90px;
}

.logo-header-auth-wrapper {
  text-align: center;
  position: relative;
  margin-top: 4em;

  .spinner {
    bottom: -75px;
  }
}

.header-cart-link {
  margin-top: 0;
  margin-left: $space-l;
  text-decoration: none;
  position: relative;

  .fa-shopping-cart {
    color: color(base);
    font-size: $font-s*2;
  }

  .header-cart-quantity {
    border-radius: 50%;
    color: color(white);
    background-color: color(primary);
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    margin: 0;
    top: -10px;
    right: -20px;
    font-size: 13px;
    text-align: center;
  }

}


.menu-item-back {
  a {
    &:before {
      content: '\f177';
      display: inline-block;
      font-family: FontAwesome;
      margin-right: $space-s;
    }
  }
}
