.header {
  margin: 0;
  padding: 0 $space-l;
  height: 120px;

  .btn {
    margin-top: 0;
  }

  .getting-started-mailinglist-form .btn {
    margin-top: 0.69444em;
  }

  .btn-account {
    margin-left: 2em;
  }

  .menu-item a {
    border-radius: 0.4em;
    width: 100%;
    padding: 0.2em 1.1em;
    margin: 0 0.3em;
    border-radius: 0.3em;

    &:hover {
      color: #415aff;
      text-decoration: none;
    }
  }

  .sub-menu {
    @include popoverDeep();

    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 90px;
    margin: 0;
    width: 290px;
    font-size: 14px;
    padding: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;

    a {
      border-radius: 0;
      transition: none;
      font-size: 15px;
      font-weight: bold;
      padding: 0.9em 2.1em;
      margin: 0;
    }

    .menu-item:last-child a {
      border: none;
    }
  }

  .menu-item.is-active > a {
    background: none;
    text-decoration: none;
  }
}

.header .btn-account {
  //   background: color(base);
}

.home.page .component-marquee {
  max-width: 100%;
  border-radius: 0;
}

.meta-wrapper {
  border: none;
  padding-bottom: $space-s;

  time,
  .byline {
    width: auto;
    margin: 0;
  }

  time {
    margin-right: $space-xs;
  }
}

.icon-mobile-close,
.icon-mobile-open {
  display: none;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 9999;
  margin: 0;

  @include device(900, 'max') {
    right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.pace .pace-activity {
  @include device(700, 'max') {
    right: 90px;
  }

  @include device(500, 'max') {
    right: 60px;
  }
}

.header-account {
  width: 250px;

  @include device(1300, 'max') {
    margin-right: 5em;
    position: relative;
    top: -12px;
  }

  @include device(900, 'max') {
    margin-right: 4em;
    top: -14px;
  }
}

.logged-in {
  .header-account {
    width: 287px;
  }
}

.icon-mobile-close {
  display: none;
}

.header-content {
  position: relative;
  height: 100%;

  &.is-active {
    .icon-mobile-open {
      display: none;
    }

    .icon-mobile-close {
      display: block;
    }
  }
  @include device(1300, 'max') {
    .icon-mobile-open {
      display: block;
    }
  }

  @include device(700, 'max') {
    .header-account {
      display: none;
    }
  }
}

.header-social-link {
  color: color(base);
  margin: 0 10px;
  font-size: 22px;
}

.page-header {
  // margin-top: $space-xl;
  position: relative;
  margin: 2.7em 0 $space-m 0;
  padding-bottom: $space-s;
  text-align: center;

  @include device(1000, 'max') {
    // margin: 0;
  }

  &:after {
    content: '';
    // margin: $space-l auto 0 auto;
    display: block;
    // height: 1px;
    // width: 80px;
    // background-color: color(medium-grey);
    // width: 86%;
    // height: 15px;
    // background: rgba(14, 248, 226, 0.27843);
    // position: absolute;
    // bottom: 28%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  // &:after {
  //   content: '';
  //   width: 160px;
  //   height: 60px;
  //   bottom: -15px;
  //   left: calc(50% - 80px);
  //   position: absolute;
  //   background: url('imgs/wave-shape-dark.svg');
  //   opacity: $opacity-hard;
  // }

  .has-icon {
    margin-left: -$space-xs;
  }

  .icon-small {
    width: 35px;
    height: 35px;
    position: relative;
    top: 3px;
    left: -2px;
  }
}

.page .page-header + p {
  font-size: 18px;
  max-width: 770px;
  margin: -1em auto 2em auto;

  @include device(500, 'max') {
    font-size: 16px !important;
    max-width: 90% !important;
    margin: 0 auto 2em auto !important;
    text-align: left !important;
  }
}

.flexboxtweener .logos {
  display: none;
}

.logo-shopify {
  max-width: 110px;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-left: 1em;
  opacity: $opacity-hard;

  @include device(500, 'max') {
    max-width: 86px;
  }
}

.logo-wordpress {
  max-width: 155px;
  margin-left: auto;
  margin-right: 1em;
  display: block;
  opacity: $opacity-hard;
  position: relative;
  top: 3px;

  @include device(500, 'max') {
    max-width: 130px;
  }
}

.flexboxtweener {
  .marquee {
    left: 50px;
  }
}

.marquee-wrapper {
  margin-top: 0;
}

.logo-header {
  width: auto;
  height: 50px;
}

.logo-link {
  border: none;
  width: 250px;

  @include device(1300, 'max') {
    top: 0;
  }
  &:hover {
    opacity: 1;
  }
}

.footer-attr {
  .logo-link {
    position: relative;
    top: -15px;
    display: block;
    max-width: 40px;
    margin: 0 auto;
  }
}

.logo-header-auth {
  margin: $space-xxl 0;
  width: 90px;
}

.is-docs .logo-header {
  top: 0;
  height: 45px;
  margin-top: 0;
}

.logo-header-auth-wrapper {
  text-align: center;
  position: relative;
  margin-top: 4em;

  .spinner {
    bottom: -75px;
  }
}

.header-cart-link {
  display: none;
  margin-top: 0;
  margin-left: $space-l;
  text-decoration: none;
  position: relative;
  width: 1.125em;

  .fa-shopping-cart {
    color: color(base);
    font-size: $font-s * 2;
  }

  .header-cart-quantity {
    border-radius: 50%;
    font-weight: bold;
    color: black;
    background-color: #47fcc1;
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    margin: 0;
    top: -10px;
    right: -20px;
    font-size: 13px;
    text-align: center;
  }
}

.menu-item-back {
  a {
    &:before {
      content: '\f177';
      display: inline-block;
      font-family: FontAwesome;
      margin-right: $space-s;
    }
  }
}
