.home {
  .main {
    @include device(500, 'max') {
      display: none;
    }
  }
}

.page-content {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.page-id-159 .page-content,
.page-id-199033 .page-content {
  max-width: 800px;
  margin: 0 auto;
}

.page-id-199033 .page-content {
  text-align: left;
}

.blog {
  .main {
    margin-bottom: $space-xxl * 2;
  }

  .page-header {
    display: none;
    margin-bottom: 3em;
  }
}

.main {
  width: 100%;
  margin-bottom: 3em;
  margin: $space-l auto;
  position: relative;

  @include device(800, 'max') {
    padding: 0 $space-m;
  }

  @include device(500, 'max') {
    padding: 0;
  }
}

.is-docs {
  .main {
    width: calc(100% - 520px);
    margin-left: 520px;
    margin-right: 0;
    margin-top: 3em;
    margin-bottom: 10em;
    padding-right: 5em;
  }

  + .footer {
    display: none;
  }
}

.wrap {
  margin-top: 0;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

#wpadminbar {
  display: none;
}

.component {
  max-width: 85vw;
  width: calc(100%);
  background-color: color(off-white);
  padding: 0 3em;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  // border-radius: 10px;

  @include device(700, 'max') {
    padding: 0 1em;

    &.component-mailinglist {
      padding-left: $space-xl;
      padding-right: $space-xl;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

.component-inner {
  border-radius: 20px;
  padding: 1em 0 1em;
}

.component-intro {
  margin-bottom: 4em;
  margin-top: 4em;
  position: relative;

  p {
    text-align: center;
  }
}

.purchase .component-comparison-chart .component-intro h2,
.purchase .component-pro-features .component-intro h2 {
  font-size: 2.4em;

  @include device(700, 'max') {
    font-size: 1.9em;
  }
}

.component-comparison-chart + .component-pro-features {
  margin-top: 10em;
}

.error404 {
  .alert {
    max-width: $container-width-narrow;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
  }

  .wrap.container {
    margin-bottom: 8em;
  }
}

.purchase-confirmation {
  .page-header,
  .page-header + span {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
