.main {
  width: 100%;
  margin: 120px 0 0 0;

  @include device(1500, 'max') {
    margin-top: 130px;
  }

  @include device(1300, 'max') {
    margin-top: 96px;
  }
}

.how .main,
.contact .main,
.faq .main,
.examples .main,
.pro-features .main,
.changelog .main,
.blog .main,
.login .main,
.account .main,
.affiliate-login .main,
.forgot-password .main,
.become-an-affiliate .main,
.affiliates .main,
.invoice .main,
.affiliate-terms-of-use .main,
.edd-failed-transaction .main,
.reset-password .main,
.purchase-confirmation .main,
.try-wp-shopify-for-free .main {
  margin-top: 180px;

  @include device(1500, 'max') {
    margin-top: 150px;
  }

  @include device(1300, 'max') {
    margin-top: 100px;
  }
}

.home .main {
  @include device(1300, 'max') {
    margin-top: 110px;
  }

  @include device(600, 'max') {
    margin-top: 175px;
  }
}

.purchase-confirmation .page-content {
  max-width: 760px;
  margin: 20px auto 0 auto;
}

.try-wp-shopify-for-free .component-getting-started-inline,
.purchase-confirmation .component-getting-started-inline {
  display: none;
}

.purchase-confirmation .page-header h1 {
  max-width: 866px;
}

.affiliate-terms-of-use .page-content {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;

  p:first-of-type,
  p,
  li {
    font-size: 16px;
  }
}

.affiliates .page-content p:first-of-type,
.affiliates .page-content {
  font-size: 15px;
}

.pro-features .page-header h1 {
  max-width: 910px;
  margin-bottom: -10px;
}

.pro-features .page-header + .page-content {
  margin-top: 0;
  margin: 0 auto;
}

.page-content + .component-comparison-chart {
  margin-top: 4em;
}

.contact .component.component-faq-secondary,
.faq .component.component-faq {
  margin-top: 3em;
  margin-bottom: 7em;
}

.contact .component.component-faq-secondary h2 {
  font-size: 34px;
}

.examples .page-content {
  max-width: 915px;
  margin: 0 auto;
}

.examples .page-header h1 {
  max-width: 900px;
}

.page-content {
  width: 100%;
  font-size: 18px;
  text-align: center;

  p:first-of-type {
    //  font-size: 20px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}

.purchase-confirmation .page-content {
  z-index: 5;
  opacity: 1;
  position: relative;
}

.page-content:empty {
  display: none;
}

.page-id-159 .page-content,
.page-id-199033 .page-content {
  max-width: 800px;
  margin: 0 auto;
}

.page-id-199033 .page-content {
  text-align: left;
}

.l-contain-narrow {
  max-width: 760px;
  margin: 0 auto 0 auto;
}

.single .main-inner.l-contain-narrow {
  margin-top: 110px;
}

.main-inner {
  @include device(900, 'max') {
    padding: 0 20px;
  }
}

.blog {
  .main {
    margin-bottom: $space-xxl * 2;
  }
}

.wrap {
  margin-top: 0;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
}

#wpadminbar {
  display: none;
}

.component {
  max-width: 85vw;
  width: calc(100%);
  background-color: color(off-white);
  padding: 0 3em;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  // border-radius: 10px;

  @include device(700, 'max') {
    padding: 0 1em;

    &.component-mailinglist {
      padding-left: $space-xl;
      padding-right: $space-xl;
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

.component-inner {
  border-radius: 20px;
  padding: 1em 0 1em;
}

.component-intro {
  margin-bottom: 2em;
  margin-top: 4em;
  position: relative;

  p {
    text-align: center;
    font-size: 18px;

    @include device(1500, 'max') {
      font-size: 17px;
    }
  }
}

.purchase .component-comparison-chart .component-intro h2,
.purchase .component-pro-features .component-intro h2 {
  font-size: 38px;

  @include device(1500, 'max') {
    font-size: 34px;
  }

  @include device(700, 'max') {
    font-size: 28px;
  }
}

.component-comparison-chart + .component-pro-features {
  margin-top: 10em;
}

.error404 {
  .alert {
    max-width: $container-width-narrow;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
  }

  .main {
    margin-bottom: 8em;
  }
}

.purchase-confirmation {
  .page-header,
  .page-header + span {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
