.nav-primary {
  padding-left: 175px;
}

.nav,
.nav-primary {
  margin: 0;
}

.menu-mobile-menu-container {
  width: 100%;
}
.menu-item-has-children {
  &.is-active {
    .sub-menu {
      transform: translateY(0px);
      opacity: 1;
      height: auto;

      .menu-item a:hover {
        background-color: #415aff;
        box-shadow: none;
        color: white;
      }

      .menu-item {
        transition: none;

        a {
          border-radius: 0;
        }
      }
      .current-menu-item {
        a {
          box-shadow: none;
          text-decoration: none;
          position: relative;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .sub-menu .current-menu-item a:after {
    display: none;
  }

  > a:hover {
    box-shadow: none !important;
  }
}
.nav-mobile {
  opacity: 0;
  position: absolute;
  top: 90px;
  background: white;
  width: 100%;
  z-index: -99999;
  padding-bottom: 1em;
  left: 0;
  background-color: color(base);
  justify-content: center;

  #menu-mobile-menu {
    flex-direction: column;
  }

  &.fadeInDownBig {
    z-index: 99999;
  }

  .menu-item a {
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  &.is-active {
    opacity: 1;
  }
}

.menu-item {
  margin: 0;
  display: flex;
  align-items: center;

  a {
    border: none;
    text-decoration: none;
    font-size: 1.3em;
    color: color(base);
    padding: 1.2em 1.5em;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.link-account,
.menu-item-manual {
  margin: 0;
  border: none;
  text-decoration: none;
  font-size: 1em;
  color: #0f0311;
  padding: 1.2em 1.1em;

  // svg {
  //    position: absolute;
  //    right: -13px;
  //    top: 29px;
  // }

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.nav {
  list-style: none;
}

.nav-primary {
  @include device(1300, 'max') {
    display: none;
  }
}

.nav-primary-sub {
  position: relative;
  opacity: 0;

  svg {
    position: absolute;
    top: -40px;
    left: calc(50% - 20px);
    font-size: 60px;
  }
}

.nav-primary-sub ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  a {
    color: color(base);
    display: block;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 15px 20px;
  }
}

.menu-primary-sub-container {
  margin: 0;
  width: 100%;
  display: none;
}

.menu-item-has-children {
  > a {
    svg {
      margin-left: 10px;
    }
  }
}
.tippy-popper .menu-primary-sub-container {
  display: block;
}

.wpshopify-popover-theme.tippy-tooltip {
  background: white;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3),
    0 -18px 60px -10px rgba(0, 0, 0, 0.025);

  .tippy-content {
    margin-top: 0;
  }

  .tippy-roundarrow {
    fill: white;
  }
}

.tippy-popper {
  min-width: 200px;
  margin: 0;
}

.is-showing-notices .tippy-popper {
  margin-top: -60px;
}

.is-showing-notices.purchase .tippy-popper {
  margin-top: 0;
}

[data-state='visible'] .nav-primary-sub {
  opacity: 1;
}

@keyframes slideInQuick {
  0% {
    transform: translateY(10px);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.sub-nav-wrapper {
  padding: 21px 11px 0 10px;
  margin: 0;
  position: relative;
  left: 8px;

  @include device(1300, 'max') {
    display: none;
  }
  &:focus {
    outline: none;
  }

  svg {
    font-size: 35px;
    margin: 0;

    animation-duration: 0.4s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    animation-name: slideInQuick;
    // animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }
}

.link-account {
  margin-top: 0;
  margin-left: $space-s;
}

.header .current-menu-item {
  position: relative;

  a {
    color: #415aff;
    text-decoration: none;

    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      display: block;
      content: '';
      width: 50px;
      height: 2px;
      background-color: #415aff;
    }
  }

  .sub-menu a:after {
    display: none;
  }
}

#menu-footer {
  @include device(800, 'max') {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;

    .menu-item a {
      width: 100%;
      text-align: center;
    }
  }
}

.menu-footer-container {
  @include device(800, 'max') {
    flex: 1;
  }
}

.nav-primary-sub ul a {
  position: relative;

  svg {
    position: absolute;
    top: 18px;
    right: 36px;
    font-size: 14px;
    left: auto;
  }
}
