.nav,
.nav-primary {
  margin: 0;
}

.menu-item {
  margin: 0;
  display: flex;
  align-items: center;

  a {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-m;
    letter-spacing: 0.04em;
    color: color(base);
    padding:  $space-m;
  }
}

.nav {
  list-style: none;
}

.nav-primary {

  @include device(1300, 'max') {
    display: none;
  }

  .menu-item {

    &:last-child {
      margin-right: $space-l;
    }

  }

}

.link-account {
  margin-top: 0;
  margin-left: $space-s;
}

.header .current-menu-item {
  position: relative;

  &:after {
    content: '';
    width: 50%;
    height: 1px;
    background: #898989;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


#menu-footer {

  @include device(800, 'max') {
    flex-direction: column;

    .menu-item a {
      width: 100%;
      text-align: center;
    }

  }

}
