.post {
   .entry-content {
      p,
      li {
         font-size: 1.1em;
      }

      ul {
         margin: $space-xl 0;
         line-height: 1.4;
         margin: 35px 0 40px 25px;

         .emoji {
            margin-left: -26px !important;
         }
      }

      h2,
      h3,
      h4 {
         margin: 2em 0 0.5em 0;
         font-size: 1.6em;

         &:first-child {
            margin-top: 0;
         }
      }

      img {
         border-radius: 10px;
         margin-top: 0;
      }

      img + img {
         margin-top: 1em;
      }

      code {
         font-size: 18px;
         background: color(off-white);
         padding: 4px 10px 7px 10px;
         border-radius: 5px;
      }
   }

   .entry-title {
      text-align: left;
      a {
         color: color(base);
      }
   }

   .meta-wrapper {
      padding-bottom: $space-l;
      justify-content: flex-start;
   }
}

.post-logo-link {
   &:hover {
      opacity: 1;
   }
}

.author-name {
   margin: 0 10px;
}

.single-post {
   .post {
      margin-top: 4em;
   }
}

.post-logo {
   width: 20px;
   height: 20px;
   display: block;
   position: relative;
   top: 2px;
}

.byline.author {
   display: flex;

   .logo-header {
      max-width: 35px;
      top: 2px;
      height: auto;
      width: 23px;
   }
}

.entry-summary {
   //   p {
   //     display: flex;
   //     flex-direction: column;
   //     align-items: center;
   //   }

   .moretag {
      margin-bottom: 2em;
      margin-top: 16px;
   }
}

.blog .post {
   margin-bottom: 5em;
}

.article-footer {
   text-align: center;
   justify-content: center;
   display: flex;
   margin: 6em 0 3em 0;

   .post-logo {
      width: 40px;
      height: 40px;
      top: 0;
   }

   .post-logo-link {
      position: relative;

      &:before {
         height: 1px;
         width: 60px;
         background: #bebebe;
         position: absolute;
         top: -40px;
         display: block;
         content: '';
         left: -10px;
      }
   }
}
