.post {
  margin-top: 4em;

  .wp-block-code {
    padding: 1em;
  }

  .entry-content {
    .wp-block-image {
      img {
        border-radius: 0;
      }
    }

    a {
      color: #415aff;
    }

    p,
    li {
      color: black;
      margin: 1.5em 0;
      line-height: 1.8;
      font-size: 18px;
    }

    li {
      margin: 1.5em 0 0 0;
    }

    li + li {
      margin-top: 5px;
    }

    ul,
    ol {
      margin: $space-xl 0;
      line-height: 1.4;
      margin: -25px 0 40px 25px;

      .emoji {
        margin-left: -26px !important;
      }
    }

    p + ul,
    p + ol {
      margin-top: 0;
    }

    h2,
    h3,
    h4,
    h5 {
      margin: 2em 0 -7px;
      font-size: 1.6em;

      + ul {
        margin-top: -10px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    h5 {
      font-size: 1.3em;
    }

    img {
      border-radius: 10px;
      margin-top: 0;
    }

    img + img {
      margin-top: 1em;
    }

    code {
      border-radius: 5px;
      font-size: 16px;
      background: inherit;
      padding: 0;
    }

    p code {
      background: #e3e3e3;
      padding: 2px 10px;
    }

    .post-last-updated {
      font-size: 14px;
      font-style: italic;
      color: #838383;
    }
  }

  .entry-title {
    text-align: left;

    a {
      color: color(base);
    }
  }

  .meta-wrapper {
    padding-bottom: $space-l;
    justify-content: flex-start;
    align-items: center;
  }
}

.post .meta-wrapper .single {
  .l-contain-narrow {
    max-width: 760px;
  }
}

.single-post {
  .entry-title {
    margin-top: 0;
    font-size: 46px;

    @include device(900, 'max') {
      font-size: 36px;
    }

    @include device(700, 'max') {
      font-size: 28px;
    }
  }

  .component-pro,
  .component-mailinglist {
    display: none;
  }

  .post {
    .meta-wrapper {
      border: none;
      padding-bottom: 0;
    }
  }

  .post-thumb {
    min-height: 360px;
  }

  .entry-content h2,
  .entry-content h3,
  .entry-content h4 {
    font-size: 1.6em;
  }
}

.post-link:hover {
  opacity: 1;

  .post-thumb {
    transition: all 0.18s ease;
    box-shadow: 0 0 0 8px #dbe0ff;
  }

  h1,
  h2 {
    text-decoration: underline;
  }
}

.latest-post-img:hover + .latest-post-info {
  transition: all 0.18s ease;
  h1,
  h2 {
    text-decoration: underline;
  }
}

.post-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 200px;
}

.post-link,
.post-link .entry-title {
  text-decoration: none;
  display: block;
}

.entry-title {
  margin-top: 1em;
  line-height: 1.4;
}

.post-logo-link {
  &:hover {
    opacity: 1;
  }
}

.author-name {
  margin: 0 10px;
}

.post-logo {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  top: 2px;
}
.post-affiliate {
  max-width: 760px;
  margin: 0 auto 2em auto;

  img {
    width: 100%;
  }

  .affiliate-link {
    display: block;

    &:hover {
      opacity: 1;
    }
  }
}
.byline.author {
  display: flex;

  .logo-header {
    border-radius: 50%;
    max-width: 35px;
    top: -5px;
    height: auto;
    width: 23px;
    margin-right: 10px;
    position: relative;
  }
}

.post-single-header .byline.author {
  .logo-header {
    max-width: 50px;
    width: 50px;
  }
}

.is-latest-post {
  .byline.author {
    .logo-header {
      max-width: 50px;
      width: 50px;
      transition: all ease 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .moretag-wrapper {
    margin-top: 0;
  }
}

.entry-summary {
  font-size: 15px;

  .moretag-wrapper {
    width: 100%;
  }

  .moretag {
    margin-bottom: 2em;
    margin-top: 5px;
    display: inline-block;
  }
}

.blog .post {
  margin-bottom: 1em;
  max-width: 31%;
  padding: 0;
  margin-top: 1em;

  @include device(800, 'max') {
    max-width: 48%;
  }

  @include device(600, 'max') {
    max-width: 100%;
  }

  .entry-title {
    font-size: 22px;
  }
}

.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1225px;
  margin: 0 auto;
  justify-content: space-between;

  .l-box-2 {
    padding: 0;
  }

  .latest-post-info {
    padding-left: 30px;
  }
}

.blog .is-latest-post {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #ddd;
  padding: 0 0 70px;

  .entry-title {
    font-size: 42px;
    margin-top: -9px;
  }

  .post-thumb {
    min-height: 400px;
  }

  @include device(900, 'max') {
    .entry-title {
      font-size: 38px;
    }
  }

  @include device(800, 'max') {
    margin-top: -10px;
    align-items: flex-start;

    .l-box-2 {
      padding: 0;
      width: 100%;
      flex: 1;
      max-width: 100%;
    }

    .l-row {
      flex-direction: column;

      &.meta-wrapper {
        flex-direction: row;
      }
    }

    .post-thumb {
      min-height: 245px;
    }

    .entry-title {
      margin-top: 10px;
    }
  }

  @include device(700, 'max') {
    .entry-title {
      font-size: 32px;
    }
  }

  @include device(600, 'max') {
    .entry-title {
      font-size: 26px;
    }
  }
}

.is-not-latest-post {
  > header {
    position: relative;
  }
  .post-meta-container {
    padding-left: 35px;
    margin-top: 15px;
  }
  .meta-wrapper {
    position: absolute;
    left: 0;
    bottom: -23px;
  }

  .post-categories:before {
    left: -16px;
    font-size: 12px;
    top: 4px;
  }
}

.navigation.posts-navigation .nav-links {
  width: 400px;
  text-align: center;
  margin: 0 auto;

  @include device(600, 'max') {
    width: auto;
  }
}

.article-footer {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 3em 0 6em;
  padding-bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 5px;

  .post-sharing {
    margin-bottom: 1em;
    margin-top: -2em;
  }

  .inner {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }

  .post-logo {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .post-logo-link {
    position: relative;

    &:before {
      height: 1px;
      width: 60px;
      background: #bebebe;
      position: absolute;
      top: -40px;
      display: block;
      content: '';
      left: -15px;
    }
  }

  .logo-header {
    height: 35px;
  }
}

.post-author-about {
  display: flex;
  border-top: 1px solid #ddd;
  margin-top: 4em;
  padding-top: 2em;
}

.post-author-about .avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 2em;
  margin-top: 1.4em;
}

.wp-block-quote {
  font-style: italic;
  font-size: 22px;
  text-align: left;
}

.page-id-197904 .component-comparison-chart,
.page-id-161 .component-comparison-chart {
  margin-top: 0;
}

.page-id-197904 .component-comparison-chart .component-intro {
  display: none;
}

.author-info-wrap {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  margin-left: 5px;

  .author-name,
  .author-bio-short {
    margin: 0;
    line-height: 1;
  }

  .author-name {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 18px;
  }

  .author-bio-short {
    font-size: 15px;
  }
}

.post-categories {
  margin-top: 0;
  margin-left: 25px;
  background: #e8e8e8;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1;
  position: relative;

  &:before {
    content: '●';
    display: block;
    position: absolute;
    left: -18px;
    font-size: 15px;
    top: 2px;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.post-meta-container {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  margin-top: 5px;

  .swp_social_panel:not(.swp_social_panelSide) {
    margin: 0 !important;
  }

  .post-sharing {
    margin: 0 0 0 30px;
    background: none;
  }

  .updated {
    line-height: 1;
    font-size: 14px;
  }
}

.post-single-header {
  border-bottom: 1px solid #ddd;
  margin-top: 10em;
  padding-bottom: 2em;
  margin-bottom: 2.5em;
}
