.sidebar {
  width: 400px;
  margin: $space-m $space-xxl $space-xxl*2 0;
}

.sidebar-inner {
  background: color(white);
  padding: $space-l;
  width: inherit;
  list-style: none;
  margin: 0;

  @include card();

  // @include shadow();

}

.sidebar-account {
  margin-top: 0;
}
