td,
th {
  text-align: left;
  padding: 10px 13px;
  color: #0f0728;
  font-size: 15px;
  font-family: $font-secondary;
}

thead {
  // background-color: color(light-grey);
  color: color(dark-grey);
  border-bottom: 1px solid #415aff;
}

tr {
  border-bottom: 1px solid #415aff;

  &:last-child {
    border-bottom: none;
  }
}

table {
  color: color(dark-grey);
}

@include device(600, 'max') {
  table {
    border: 0;
  }

  thead,
  tbody {
    float: left;
    margin: 0;

    td {
      padding: 0;
    }

    th {
      text-align: right;
    }
  }

  thead {
    width: 100%;
    padding: $space-m;
  }

  tbody {
    width: 100%;
    padding: $space-m;
  }

  th,
  td {
    font-size: $font-s;
  }

  .edd_cart_item,
  .edd_cart_header_row {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #edd_checkout_cart_form td,
  #edd_checkout_cart_form th,
  .edd-table td,
  .edd-table th,
  .edd_sl_table td,
  .edd_sl_table th {
    margin-top: $space-xs;

    @include device(600, 'max') {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

tr {
  @include device(600, 'max') {
    display: block;
    width: 100%;
  }
}

@include device(400, 'max') {
  thead {
    width: 100%;
  }

  tbody {
    width: 100%;
  }
}

#edd_checkout_cart_form .edd_cart_footer_row {
  border-bottom: none;
}

.edd_cart_header_row {
  th {
    font-weight: 400;
  }
}
