h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-secondary;
	line-height: 1.1;
	color: #0f0728;
	margin: 0 0 $space-xxs;

	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 50px;
	font-weight: bold;

	@include device(1500, 'max') {
		font-size: 42px !important;
	}

	@include device(700, 'max') {
		font-size: $font-xxxl !important;
	}

	@include device(500, 'max') {
		font-size: 28px !important;
	}
}

h2 {
	font-size: 40px;
	font-weight: bold;

	@include device(800, 'max') {
		font-size: 28px !important;
	}
}

h3 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 13px;

	@include device(700, 'max') {
		font-size: $heading-4 !important;
	}

	@include device(500, 'max') {
		font-size: 1.1em !important;
	}
}

h4 {
	font-size: $heading-4;
}

h5 {
	font-size: $heading-5;
}

h6 {
	font-size: $heading-6;
}

a {
	color: color(primary);

	&:hover {
		opacity: $opacity-soft;
	}
}

p {
	font-size: 18px;
	margin-top: 0;
	width: 100%;

	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: $space-m;
	}

	@include device(1500, 'max') {
		font-size: 16px !important;
	}

	@include device(600, 'max') {
		font-size: 16px !important;
	}
}

.heading-center {
	text-align: center;
}
