.is-visible {
	visibility: visible;
	opacity: 1;
	display: block !important;
}

// Disabled
.is-disabled {
	@include dim($opacity-hard);

	&:hover {
		cursor: not-allowed;
	}
}

.is-hidden {
	display: none !important;
}

.is-fixed {
	position: fixed;
}

.is-highlighted {
	background: color(primary);
	padding: 10px $space-l;
}

.is-angled-up {
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		top: 0;
		left: 0;
		position: absolute;
		border-top: $angle-width solid color(light-grey);
		border-left: 0vw solid transparent;
		border-right: 50vw solid transparent;
	}

	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		top: 0;
		right: 0;
		position: absolute;
		border-top: $angle-width solid color(light-grey);
		border-left: 50vw solid transparent;
		border-right: 0vw solid transparent;
	}

	@include device(800, 'max') {
		&:after,
		&:before {
			border-top: $angle-width-narrow solid color(light-grey);
		}
	}

	@include device(500, 'max') {
		&:after,
		&:before {
			border-top: calc(#{$angle-width} / 3) solid color(light-grey);
		}
	}
}
