@use '../vars';

.l-row {
	display: flex;
	flex-wrap: wrap;
}

.l-col {
	display: flex;
	flex-direction: column;
}

.l-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.l-align-items-flex-start {
	align-items: flex-start;
}

.l-row-center {
	justify-content: center;
}

.l-sb {
	justify-content: space-between;
}

.l-col-center {
	align-items: center;
}

.l-bl {
	align-items: baseline;
}

.l-flex {
	flex: 1;
}

.l-fill {
	flex: 1;
	width: 100%;
}

.l-box-2 {
	flex: 0 0 49%;
	width: 49%;
	max-width: 49%;
}

.l-box-3 {
	flex: 0 0 32%;
	width: 32%;
	max-width: 32%;
}

.l-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-p-15 {
	padding: 15px;
}

.l-br {
	border-radius: vars.$borderRadius;
}

.l-bs {
	box-shadow: 0px 0px 57px -14px rgba(0, 0, 0, 1);
}

.l-text-center {
	text-align: center;
}

.l-contain {
	padding: 0 15px;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.l-contain-xs {
	width: 540px;
	margin: 0 auto;
}

.l-contain-s {
	width: 800px;
	margin: 0 auto;
}

.l-contain-m {
	width: 900px;
	margin: 0 auto;
}

main {
	flex: 1;
	margin-top: 130px;
	min-height: 50vh;
}

.home main {
	margin-top: 83px;
}

.page-id-161 main {
	margin-top: 160px;
}

.component {
	position: relative;
	padding: 0 20px;
	max-width: 1400px;
	margin: 0 auto 140px auto;
}

.angled-down {
	clip-path: polygon(0 0, 75% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
}

.component-fade {
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 260px;
		background: pink;
		position: absolute;
		bottom: 0;
		z-index: 2;
		background: rgb(12, 14, 27);
		background: linear-gradient(
			0deg,
			rgba(12, 14, 27, 1) 0%,
			rgba(18, 18, 89, 0) 100%
		);
	}
}

.component-generic {
	margin-bottom: 50px;
}

// Features page
.page-id-197904 .component-generic {
	margin-bottom: 0;
}

.content {
	h1 {
		text-wrap: balance;
	}

	h1,
	h2 {
		margin-bottom: 15px;
	}

	h2 {
		font-size: 40px;
	}

	p {
		font-size: 22px;
		color: #dbdada;
		z-index: 2;
		position: relative;
	}

	.link-external {
		font-size: 22px;
		position: relative;
		top: -2px;
	}
}

.component-full {
	max-width: 100%;
}

.theme-light {
	.l-bs {
		border: 1px solid rgba(0, 0, 0, 0.08);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
	}

	.content {
		p {
			color: vars.$primary;
		}
	}

	.component-fade {
		&:after {
			background: rgb(255, 255, 255);
			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	.home main {
		margin-top: 75px;
	}
}
