.footer {
	background: #1c2244;
	text-align: center;
	margin-top: 0;
	position: relative;

	.logo-header {
		height: auto;
		max-width: 37px;
		margin-bottom: -10px;
	}

	.logo-link img {
		filter: invert(1);
	}
}

.footer-col {
	h3 {
		font-weight: bold;
		font-size: 15px;
		text-align: left;
		margin-bottom: -8px;
		color: white;
		font-weight: normal;
		border-bottom: 1px solid #565c78;
		padding-bottom: 10px;

		+ div {
			margin-top: 15px;
		}

		@include device(1500, 'max') {
			font-size: 16px;
		}
	}
}

.nav-footer {
	max-width: 1050px;
	position: relative;
	left: 50px;

	@include device(900, 'max') {
		margin-top: 15px;
	}

	> div {
		width: 20%;
		padding-right: 45px;
		margin-top: 0;
	}

	@include device(900, 'max') {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		left: 0;

		.footer-col {
			width: 60%;
			padding-right: 0;
			margin-top: 0;
			text-align: center;
			justify-content: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2em;

			div {
				width: 100%;

				a {
					text-align: center;
					padding-right: 0;
				}
			}
		}
	}
}

#menu-footer {
	padding-left: 6vw;
	margin-top: 2em;
}

.footer-wrapper {
	padding: 3em 0;
	position: relative;
	margin: 0;
	color: white;

	@include device(1000, 'max') {
		padding: 4.1em 0 0 0;
	}

	@include device(600, 'max') {
		padding: 1.1em 0 0 0;
	}

	.footer-link {
		color: white;
		font-weight: bold;
		font-size: 13px;
		text-decoration: none;
		padding: 2em 4em 2em 2em;
		position: relative;
		top: -5px;

		&.footer-free-trial {
			transform: translateY(0);
			display: inline-block;
			margin: 0;

			@include device(500, 'max') {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&:hover {
			opacity: 1;
			text-decoration: underline;
			color: white;
		}
	}

	.menu-item {
		width: 100%;

		a {
			color: #94b4ef;
			width: 100%;
			display: block;
			text-align: left;
			font-size: 15px;
			padding: 0.2em 1.5em 0.2em 0;
			position: relative;

			@include device(1500, 'max') {
				font-size: 14px;
			}

			&:hover {
				text-decoration: none;
				color: white;
				opacity: 0.7;
			}

			svg {
				font-size: 11px;
				position: relative;
				left: 5px;
				top: -1px;
			}
		}
	}
}

.checkout {
	.footer-wrapper {
		padding-top: 0;
	}

	.nav-footer {
		border-top: 1px solid #ccc;
		padding-top: 40px;
	}
}

.footer-social-link {
	font-size: 1.4em;
	padding: 0 0.3em;
	text-decoration: none;
	border: none;

	&:hover {
		@include dim($opacity-soft);
	}
}

.footer-attr {
	margin-top: $space-l;
	padding: 20px;
	color: white;

	small {
		font-style: normal;
		color: white;
		margin-top: -5px;
		display: block;
		font-size: 13px;

		@include device(600, 'max') {
			font-size: 14px;
		}
	}
}

.footer-social-links {
	position: relative;
	margin-top: 0em;
	margin-top: 0;
	margin: 0;
	left: -21px;
	top: 6px;

	.svg-inline--fa {
		color: white;
	}

	@include device(1500, 'max') {
		left: -45px;
	}

	@include device(900, 'max') {
		left: 0;
	}

	@include device(500, 'max') {
		flex-direction: row;
		margin: 0 auto;
		display: block;
		left: 0;
	}
}
