.main {
	width: 100%;
	margin: 80px 0 0 0;

	@include device(1500, 'max') {
		margin-top: 130px;
	}

	@include device(1300, 'max') {
		margin-top: 96px;
	}
}

.become-an-affiliate {
	.page-content {
		max-width: 60%;
		margin: 0 auto 3em auto;
	}
}

.how .main,
.contact .main,
.faq .main,
.examples .main,
.pro-features .main,
.features .main,
.changelog .main,
.blog .main,
.login .main,
.account .main,
.affiliate-login .main,
.forgot-password .main,
.become-an-affiliate .main,
.affiliates .main,
.invoice .main,
.affiliate-terms-of-use .main,
.edd-failed-transaction .main,
.reset-password .main,
.purchase-confirmation .main,
.try-wp-shopify-for-free .main,
.post-type-archive-download .main {
	margin-top: 160px;

	@include device(1500, 'max') {
		margin-top: 145px;
	}

	@include device(1300, 'max') {
		margin-top: 100px;
	}
}

.single-download .main {
	margin-top: 100px;
}

.is-not-showing-sticky-header .main {
	margin-top: 60px;
}

.home .main {
	@include device(1300, 'max') {
		margin-top: 110px;
	}

	@include device(600, 'max') {
		margin-top: 145px;
	}
}

.purchase-confirmation .page-content {
	max-width: 760px;
	margin: 20px auto 0 auto;
}

.how .component-getting-started-inline,
.try-wp-shopify-for-free .component-getting-started-inline,
.purchase-confirmation .component-getting-started-inline,
.login .component-getting-started-inline {
	display: none;
}

.purchase-confirmation .page-header h1 {
	max-width: 866px;
}

.affiliate-terms-of-use .page-content {
	text-align: left;
	max-width: 900px;
	margin: 0 auto;
	font-size: 16px;

	p:first-of-type,
	p,
	li {
		font-size: 16px;
	}
}

.affiliates {
	.page-content p:first-of-type,
	.affiliates .page-content {
		font-size: 15px;
	}

	.page-content {
		text-align: left;
	}

	#affwp-affiliate-dashboard input:not([type='checkbox']) {
		height: auto;
	}

	#day-of-birth,
	#month-of-birth {
		margin-bottom: 1em;
	}
}

.features .page-header h1,
.pro-features .page-header h1 {
	max-width: 910px;
	margin-bottom: -10px;
}

.features .page-header + .page-content,
.pro-features .page-header + .page-content {
	margin-top: 0;
	margin: 0 auto;
	max-width: 740px;
}

.page-content + .component-comparison-chart {
	margin-top: 4em;
}

.contact .component.component-faq-secondary,
.faq .component.component-faq {
	margin-top: 3em;
	margin-bottom: 7em;

	@media (max-width: 600px) {
		margin-top: 1em;
	}
}

.contact .component.component-faq-secondary h2 {
	font-size: 36px;

	@media (max-width: 900px) {
		font-size: 28px;
	}
}

.examples .page-content {
	max-width: 915px;
	margin: 0 auto;
}

.examples .page-header h1 {
	max-width: 900px;
}

.page-content {
	width: 100%;
	font-size: 18px;
	text-align: center;

	p:first-of-type {
		//  font-size: 20px;

		@media (max-width: 600px) {
			font-size: 16px;
		}
	}
}

.purchase-confirmation .page-content {
	z-index: 5;
	opacity: 1;
	position: relative;
}

.page-content:empty {
	display: none;
}

.page-id-159 .page-content,
.page-id-199033 .page-content {
	max-width: 800px;
	margin: 0 auto;
}

.page-id-197961 .page-content {
	max-width: 825px;
	margin: 0 auto;
}

.page-id-199033 .page-content {
	text-align: left;
}

.l-contain-narrow {
	max-width: 760px;
	margin: 0 auto 0 auto;
}

.single .main {
	margin-top: 100px;

	@include device(600, 'max') {
		margin-top: 76px;
	}
}

.single .main-inner.l-contain-narrow {
	margin-top: 190px;
}

.main-inner {
	@include device(900, 'max') {
		padding: 0 20px;
	}

	@include device(600, 'max') {
		padding: 0 10px;
	}
}

.single-post .main-inner {
	@include device(900, 'max') {
		max-width: 100%;
		padding: 0;

		.post-single-header {
			margin-top: 5em;
		}

		.entry-content {
			padding: 0 20px;
			p {
				font-size: 16px;
			}
		}
	}

	.post-single-header {
		@include device(700, 'max') {
			margin-top: 0;
			padding-top: 0;
		}
	}
}

.blog {
	.component-affiliate,
	.component-pro,
	.component-mailinglist {
		display: none;
	}

	.main {
		margin-bottom: calc($space-xxl * 2);
	}

	.main-inner {
		@include device(1300, 'max') {
			padding: 0 20px;
		}
	}

	.l-contain-narrow {
		max-width: 760px;
	}
}

.wrap {
	margin-top: 0;
}

.content {
	max-width: 1400px;
	margin: 0 auto;
}

#wpadminbar {
	display: none;
}

.component {
	max-width: 85vw;
	width: calc(100%);
	background-color: color(off-white);
	padding: 0 3em;
	border: none;
	margin: 0 auto;
	border-radius: 20px;
	// border-radius: 10px;

	@include device(700, 'max') {
		padding: 0 1em;

		&.component-mailinglist {
			padding-left: $space-xl;
			padding-right: $space-xl;
			margin: 0;
			width: 100%;
			max-width: 100%;
		}
	}
}

.component-inner {
	border-radius: 20px;
	padding: 1em 0 1em;
}

.component-intro {
	margin-bottom: 2em;
	margin-top: 4em;
	position: relative;

	p {
		text-align: center;
		font-size: 18px;

		@include device(1500, 'max') {
			font-size: 17px;
		}
	}
}

.purchase .component-comparison-chart .component-intro h2,
.purchase .component-pro-features .component-intro h2 {
	font-size: 36px;

	@include device(1500, 'max') {
		font-size: 32px;
	}

	@include device(700, 'max') {
		font-size: 28px;
	}
}

.component-faq-secondary + .component-comparison-chart,
.component-comparison-chart + .component-pro-features {
	margin-top: 10em;
}

.component-pro-features.component-examples {
	padding-bottom: 1em;
}

.error404 {
	.alert {
		max-width: $container-width-narrow;
		margin: 0 auto;
		text-align: left;
		font-size: 18px;
	}

	.main {
		margin-bottom: 8em;
	}
}

.purchase-confirmation {
	.page-header,
	.page-header + span {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.post-type-archive-download .page-content {
	margin-top: -10px;
}
